{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}
<div style="margin-bottom: 25px;" class="content-wrapper flex flex-wrap p-2 m-px">
    <a href="{%url 'commercial'%}">
        <button style="width: 16rem;height: 10rem;margin-right: 20px;margin-bottom: 25px"
            class=" w-28 bg-green-400 hover:bg-blue-200 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
            <span class="pr-1 font-bold flex-1 text-blue-50 text-2xl">Commercial</span>

        </button>
    </a>
    <a href="{%url 'engineering'%}">
        <button style="width: 16rem;height: 10rem;margin-right: 20px;"
            class=" w-28 bg-blue-500 hover:bg-blue-200 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
            <span class="pr-1 font-bold flex-1 text-blue-50 text-2xl">Engineering</span>

        </button>
    </a>
    <a href="{%url 'finance'%}">
        <button style="width: 16rem;height: 10rem;margin-right: 20px;"
            class=" w-28 bg-gray-700 hover:bg-blue-200 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
            <span class="pr-1 font-bold flex-1 text-blue-50 text-2xl">Finance</span>

        </button>
    </a>
    <a href="{%url 'procurement'%}">
        <button style="width: 16rem;height: 10rem;margin-right: 20px;margin-bottom: 25px"
            class=" w-28 bg-green-400 hover:bg-blue-200 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
            <span class="pr-1 font-bold flex-1 text-blue-50 text-2xl">Procurement</span>

        </button>
    </a>

    <a href="{%url 'hr'%}">
        <button style="width: 16rem;height: 10rem;margin-right: 20px;margin-bottom: 25px"
            class=" w-28 bg-blue-500 hover:bg-blue-200 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
            <span class="pr-1 font-bold flex-1 text-blue-50 text-2xl">Human Resources</span>

        </button>
    </a>

    <a href="{%url 'risk'%}">
        <button style="width: 16rem;height: 10rem;margin-right: 20px;margin-bottom: 25px"
            class=" w-28 bg-gray-700 hover:bg-blue-200 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
            <span class="pr-1 font-bold flex-1 text-blue-50 text-2xl">Risk Management</span>

        </button>
    </a>

    <a href="{%url 'ict'%}">
        <button style="width: 16rem;height: 10rem;margin-right: 20px;margin-bottom: 25px"
            class=" w-28 bg-green-400 hover:bg-blue-200 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
            <span class="pr-1 font-bold flex-1 text-blue-50 text-2xl">Information Communication Technology</span>

        </button>
    </a>

    <a href="#">
        <button style="width: 16rem;height: 10rem;margin-right: 20px;margin-bottom: 25px"
            class=" w-28 bg-blue-500 hover:bg-blue-200 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
            <span class="pr-1 font-bold flex-1 text-blue-50 text-2xl">Legal Services</span>

        </button>
    </a>

    <a href="#">
        <button style="width: 16rem;height: 10rem;margin-right: 20px;margin-bottom: 25px"
            class=" w-28 bg-gray-700 hover:bg-blue-200 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
            <span class="pr-1 font-bold flex-1 text-blue-50 text-2xl">Stakeholder Relations</span>

        </button>
    </a>
</div>
<div style="display: flex;justify-content: start;">
    <a href="javascript:history.back()">
        <button style="width: 6rem;height: 3rem;background-color: #020617;margin-right: 20px"
            class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded-xl flex items-center">
            <span class="pr-1 font-bold flex-1 text-blue-50">Back</span>

        </button> </a>
</div>






{%endblock%}