<!--users/templates/quotations/index.html-->
{% extends 'admin_layout.html' %} {% block styles %}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"
/>
<style>
  .dataTables_wrapper .dataTables_length select {
    width: 4rem;
  }
</style>
{% endblock styles %} {% block content %}
<div class="content-wrapper">
    <div class="mb-5">
      <div
        class="bg-gulf-blue-100 shadow-gulf-blue-300 text-gulf-blue-900 p-6 shadow-md rounded"
      >
        <div class="flex justify-between items-center mb-5">
          <div>
            <p class="text-lg font-semibold">Apply filters</p>
            <p class="mt-1 text-sm">Use filters to further refine search</p>
          </div>
          <div class="flex justify-between items-center mb-5">
            <a
              href="/change_requests/create_change_request"
              class="bg-gulf-blue-600 hover:bg-gulf-blue-800 text-white font-bold py-2 px-4 rounded"
              >
              CREATE CHANGE REQUEST
            </a>
          </div>
        </div>
        <div
          class="mt-8 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3"
        >
            <div class="flex flex-col">
            <label for="region" class="text-stone-600 text-sm font-medium"
                >Region</label
            >
            <select
                id="region"
                class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            >
                <option value="">Select Region</option>
                {% for region in regions %}
                <option value="{{ region.id }}">{{ region }}</option>
                {% endfor %}
            </select>
            </div>
  
            <div class="flex flex-col">
              <label for="cost_center" class="text-stone-600 text-sm font-medium"
                >Cost Centre</label
              >
              <select
                id="cost_center"
                class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
              >
                <option value="">Select Centre</option>
              </select>
            </div>

            <div class="flex flex-col">
            <label for="cr_type" class="text-stone-600 text-sm font-medium"
                >Change Request Type</label
            >

            <select
                id="cr_type"
                class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            >
                <option value="">Select Type</option>
                <option value="New Profile">New Profile Request</option>
                <option value="Profile Modification">Profile Modification</option>
                <option value="Profile Deactivation">Profile Deactivation</option>
            </select>
            </div>

            <div class="flex flex-col">
            <label for="cr_app" class="text-stone-600 text-sm font-medium"
                >Change Request Application</label
            >

            <select
                id="cr_app"
                class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            >
                <option value="">Select Application</option>
                <option value="BUSINESS EXCELLENCE">
                    BUSINESS EXCELLENCE
                  </option>
                  <option value="SAP">SAP</option>
                  <option value="NDM">NDM</option>
            </select>
            </div>

          <div class="flex flex-col">
            <label for="status" class="text-stone-600 text-sm font-medium"
              >Status</label
            >
            <select
              id="status"
              class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            >
              <option value="">Select Status</option>
              <option value="Pending SH">Pending Section Head Approval</option>
              <option value="Pending IT">Pending IT Approval</option>
              <option value="Complete">Complete</option>
              <option value="Rejected">Rejected</option>
            </select>
          </div>
  
          <div class="flex flex-col">
            <label for="start_date" class="text-stone-600 text-sm font-medium"
              >Start Date</label
            >
            <input
              type="date"
              id="start_date"
              class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            />
          </div>
  
          <div class="flex flex-col">
            <label for="end_date" class="text-stone-600 text-sm font-medium"
              >End Date</label
            >
            <input
              type="date"
              id="end_date"
              class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
            />
          </div>
        </div>
  
        <div class="mt-6 grid w-full grid-cols-2 justify-end space-x-4 md:flex">
          <button
            id="reset_filter"
            class="active:scale-95 rounded-lg bg-red-200 px-8 py-2 font-medium text-gray-600 outline-none focus:ring hover:opacity-90"
          >
            Reset Filter
          </button>
          <button
            id="search_filter"
            class="active:scale-95 rounded-lg bg-blue-600 px-8 py-2 font-medium text-white outline-none focus:ring hover:opacity-90"
          >
            Search
          </button>
          <button
            id="export_filter"
            class="active:scale-95 rounded-lg bg-green-600 px-8 py-2 font-medium text-white outline-none focus:ring hover:opacity-90"
          >
              Export CSV
          </button>
        </div>
      </div>
    </div>
    <div
      class="bg-gulf-blue-100 shadow-md shadow-gulf-blue-300 text-gulf-blue-900 rounded px-2 py-2"
    >
    <table id="change_request_index" class="display" style="width: 100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>TYPE</th>
          <th>REASON</th>
          <th>SECTION HEAD</th>
          <th>APPROVAL</th>
          <th>DONE BY</th>
          <th>DATE</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody></tbody>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>TYPE</th>
          <th>REASON</th>
          <th>SECTION HEAD</th>
          <th>APPROVAL</th>
          <th>DONE BY</th>
          <th>DATE</th>
          <th>ACTION</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>

  $(document).ready(function () {
    var table = $("#change_request_index").DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": "/change_requests/datatables/all",
        "type": "GET"
      },
      columns: [
        {
          data: "cr_id",
        },
        {
          data: "change_type",
        },
        {
          data: "change_reason",
        },
        {
          data: "section_head_approval",
          orderable: false,
          searchable: false,
          render: function (data, type, row, meta) {
            let approval_badge = ""
            if(data === "Approved"){
              approval_badge = `
              <a type="button" class="bg-green-300 text-green-800 rounded px-1 py-2 w-full text-center" href='/change_requests/view_change_request?i=${row.cr_id}' >
                ${data}              
              </a>`
            } else if (data === "Rejected"){
              approval_badge = `
              <a type="button" class="bg-red-300 text-red-800 rounded px-1 py-2 w-full text-center" href='/change_requests/view_change_request?i=${row.cr_id}' >
                ${data}              
              </a>`
            } else {
              approval_badge = `
              <a type="button" class="bg-blue-300 text-blue-800 rounded px-1 py-2 w-full text-center" href='/change_requests/view_change_request?i=${row.cr_id}' >
                ${data}              
              </a>`
            }
            return approval_badge;
          },
        },
        {
          data: "it_section_head_approval",
          orderable: false,
          searchable: false,
          render: function (data, type, row, meta) {
            let approval_badge = ""
            if(data === "Approved"){
              approval_badge = `
              <a type="button" class="bg-green-300 text-green-800 rounded px-1 py-2 w-full text-center" href='/change_requests/view_change_request?i=${row.cr_id}' >
                ${data}              
              </a>`
            } else if (data === "Rejected"){
              approval_badge = `
              <a type="button" class="bg-red-300 text-red-800 rounded px-1 py-2 w-full text-center" href='/change_requests/view_change_request?i=${row.cr_id}' >
                ${data}              
              </a>`
            } else {
              approval_badge = `
              <a type="button" class="bg-blue-300 text-blue-800 rounded px-1 py-2 w-full text-center" href='/change_requests/view_change_request?i=${row.cr_id}' >
                ${data}              
              </a>`
            }
            return approval_badge;
          },
        },
        {
          data: "created_by",
        },
        {
          data: "created_at",
        },
        {
          data: "id",
          orderable: false,
          searchable: false,
          render: function (data, type, row, meta) {
            return `
              <a type="button" class="btn btn-info" href='/change_requests/update_change_request?i=${row.cr_id}' >
                <i class="fa-solid fa-pen-to-square"></i>              
              </a>
              <a type="button" class="btn btn-secondary" href='/change_requests/view_change_request?i=${row.cr_id}' >
                <i class="fa-solid fa-circle-info"></i>
              </a>`;
          },
        }
      ],
      order: [[5, 'desc']]
    });

    $("#search_filter").on("click", function () {
        const region = document.getElementById("region").value;
        const cr_type = document.getElementById("cr_type").value;
        const cr_app = document.getElementById("cr_app").value;
        const cost_center = document.getElementById("cost_center").value;
        const startDate = document.getElementById("start_date").value;
        const endDate = document.getElementById("end_date").value;
        const status = document.getElementById("status").value;
    
        var newUrl = `/change_requests/datatables/filter?start_date=${startDate}&end_date=${endDate}&status=${status}&cost_center=${cost_center}&region=${region}&cr_type=${cr_type}&cr_app=${cr_app}`;
        table.ajax.url(newUrl).load();
    })

    $("#export_filter").on("click", function () {
        const region = document.getElementById("region").value;
        const cr_type = document.getElementById("cr_type").value;
        const cr_app = document.getElementById("cr_app").value;
        const cost_center = document.getElementById("cost_center").value;
        const startDate = document.getElementById("start_date").value;
        const endDate = document.getElementById("end_date").value;
        const status = document.getElementById("status").value;
    
        var newUrl = `/change_requests/datatables/export?start_date=${startDate}&end_date=${endDate}&status=${status}&cost_center=${cost_center}&region=${region}&cr_type=${cr_type}&cr_app=${cr_app}`;
        window.location.href = newUrl;
    })

    $("#reset_filter").on("click", function () {
        document.getElementById("region").value = "";
        document.getElementById("cr_type").value = "";
        document.getElementById("cr_app").value = "";
        document.getElementById("cost_center").value = "";
        document.getElementById("start_date").value = "";
        document.getElementById("end_date").value = "";
        document.getElementById("status").value = "";

        var newUrl = "/change_requests/datatables/all_schedules";
        table.ajax.url(newUrl).load();
    })
  });

  const region = document.getElementById('region');
  const cost_center = document.getElementById('cost_center');

  region.addEventListener('change', (e) => {
    const regionId = e.target.value;
    fetch(`{{BASE_URL}}/users/filtered_centers/${regionId}`)
      .then((res) => res.json())
      .then((data) => {
        console.log("var: ", data);
        cost_center.innerHTML = '<option>Select Cost Centre</option>';
        data.forEach((_cost_center) => {
          cost_center.innerHTML += `<option value="${_cost_center.id}">${_cost_center.name}</option>`;
        });
      });
  });
</script>
{% endblock scripts %}
