<!--users/templates/users/add_cr.cr.user.html-->

{% extends 'admin_layout.html' %} 
{% load custom_filters %} 
{% block styles %}

<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"
/>
<style>
  .dataTables_wrapper .dataTables_length select {
    width: 4rem;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    border: 1px solid gray; /* Change border color to gray */
    padding: 8px;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .upload-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
</style>

{% endblock styles %} 
{% block content %}

<div class="content-wrapper">
  <div
    class="bg-gulf-blue-100 shadow shadow-gulf-blue-200 text-gray-900 rounded px-2 py-2"
  >
    <!-- component -->
    <div x-data="{ openTab: 1 }" class="p-8">
      <div class="">

        <div
          x-show="openTab === 1"
          class="transition-all duration-300 bg-white p-4 rounded-lg shadow-md border-l-4 border-blue-600"
        >
          <form method="post" action="/change_requests/update_new_profile_request">
            {% csrf_token %}
            <div class="space-y-12 px-5 py-5">
              <div class="mt-10 border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">
                  Update Profile Modification Request
                </h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">
                  New profile request details.
                </p>
                <input
                  type="hidden"
                  name="cr_id"
                  value="{{cr.cr_id}}"
                />
                <div class="mt-10 grid grid-cols-1 gap-4">
                  <div>
                    <label
                      for="change_reason"
                      class="block text-sm font-medium leading-6 text-gray-900"
                      >Reason for Change</label
                    >
                    <div class="mt-2">
                      <input
                        type="text"
                        value="{{cr.change_reason}}"
                        name="change_reason"
                        id="change_reason"
                        autocomplete="change_reason"
                        class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                      />
                    </div>
                  </div>

                  <div class="w-50">
                    <label
                      for="change_description"
                      class="block text-sm font-medium leading-6 text-gray-900"
                      >Change Description</label
                    >
                    <div class="mt-2">
                      <textarea
                        type="text"
                        name="change_description"
                        id="change_description"
                        autocomplete="change_description"
                        class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                      >{{cr.change_description}}</textarea>
                    </div>
                  </div>

                  <div class="w-50">
                    <label
                      for="created_by"
                      class="block text-sm font-medium leading-6 text-gray-900"
                      >Creator</label
                    >
                    <div class="mt-2">
                      <input
                        disabled
                        type="text"
                        value="{{cr.created_by}}"
                        name="created_by"
                        id="created_by"
                        autocomplete="created_by"
                        class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                      />
                    </div>
                  </div>

                  <div class="w-50">
                    <label
                      for="creator_designation"
                      class="block text-sm font-medium leading-6 text-gray-900"
                      >Creator Designation</label
                    >
                    <div class="mt-2">
                      <input
                        disabled
                        type="text"
                        value="{{cr.creator_designation}}"
                        name="creator_designation"
                        id="creator_designation"
                        autocomplete="creator_designation"
                        class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                      />
                    </div>
                  </div>

                  <div class="w-50">
                    <label
                      for="created_at"
                      class="block text-sm font-medium leading-6 text-gray-900"
                      >Date Created</label
                    >
                    <div class="mt-2">
                      <input
                        disabled
                        type="text"
                        value="{{cr.created_at}}"
                        name="created_at"
                        id="created_at"
                        autocomplete="created_at"
                        class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                      />
                    </div>
                  </div>

                    <div class="space-y-12 px-5 py-5">
                      <div class="mt-10 border-b border-gulf-blue-900/10 pb-12">
                        <h2
                          class="text-base font-semibold leading-7 text-gulf-blue-900"
                        >
                          User Information
                        </h2>
                        <p class="mt-1 text-sm leading-6 text-gulf-blue-900">
                          Update relevant fields.
                        </p>

                        <div class="mt-10 grid grid-cols-3 gap-4">
                          <div>
                            <label
                              for="firstname"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >First name</label
                            >
                            <div class="mt-2">
                              <input
                                type="text"
                                name="firstname"
                                id="firstname"
                                value="{{cr.user.firstname}}"
                                autocomplete="firstname"
                                class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                              />
                            </div>
                          </div>

                          <div>
                            <label
                              for="lastname"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >Last name</label
                            >
                            <div class="mt-2">
                              <input
                                type="text"
                                name="lastname"
                                id="lastname"
                                value="{{cr.user.lastname}}"
                                autocomplete="family-name"
                                class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                              />
                            </div>
                          </div>

                          <div>
                            <label
                              for="username"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >Username</label
                            >
                            <div class="mt-2">
                              <input
                                type="text"
                                name="username"
                                id="username"
                                value="{{cr.user.username}}"
                                autocomplete="family-name"
                                class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                              />
                            </div>
                          </div>

                          <div>
                            <label
                              for="designation"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >Designations</label
                            >
                            <div class="mt-2">
                              <select
                                id="designation"
                                name="designation"
                                autocomplete="designation"
                                class="block w-full bg-gulf-blue-50 rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                              >
                                {% if cr.user.designation %}
                                <option value="{{cr.user.designation.id}}">
                                  {{cr.user.designation.description}}
                                </option>
                                {% endif %}
                                <option>Select Designation</option>
                                {% for design in user_designations %}
                                <option value="{{design.id}}">
                                  {{design.description}}
                                </option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>

                          <div>
                            <label
                              for="email"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >Email address</label
                            >
                            <div class="mt-2">
                              <input
                                id="email"
                                name="email"
                                type="email"
                                value="{{cr.user.email}}"
                                autocomplete="email"
                                class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                              />
                            </div>
                          </div>

                          <div>
                            <label
                              for="region"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >Region</label
                            >
                            <div class="mt-2">
                              <select
                                id="region"
                                name="region"
                                autocomplete="region"
                                class="block w-full bg-gulf-blue-50 rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                              >
                                {% if cr.user.region %}
                                <option value="{{ cr.user.region.id }}" selected>
                                  {{ cr.user.region.region }}
                                </option>
                                {% endif %}
                                <option>Select Region</option>
                                {% for region in regions %}
                                <option value="{{region.id}}">
                                  {{region.region}}
                                </option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>

                          <div>
                            <label
                              for="district"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >District</label
                            >
                            <div class="mt-2">
                              <select
                                id="district"
                                name="district"
                                autocomplete="district"
                                class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 px-2 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                              >
                                {% if cr.user.district %}
                                <option value="{{ cr.user.district.id }}" selected>
                                  {{ cr.user.district.district }}
                                </option>
                                {% endif %}
                              </select>
                            </div>
                          </div>

                          <div>
                            <label
                              for="section"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >Section</label
                            >
                            <div class="mt-2">
                              <select
                                id="section"
                                name="section"
                                autocomplete="section"
                                class="block w-full bg-gulf-blue-50 rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                              >
                                {% if cr.user.section %}
                                <option value="{{cr.user.section.code}}">
                                  {{cr.user.section.section}}
                                </option>
                                {% endif %}
                                <option>Select Section</option>
                                {% for section in sections %}
                                <option value="{{section.code}}">
                                  {{section.section}}
                                </option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>

                          <div>
                            <label
                              for="cost_center"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >Cost Centre</label
                            >
                            <div class="mt-2">
                              <select
                                id="cost_center"
                                name="cost_center"
                                autocomplete="cost_center"
                                class="block w-full bg-gulf-blue-50 rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                              >
                                {% if cr.user.cost_center %}
                                <option value="{{cr.user.cost_center.id}}">
                                  {{cr.user.cost_center.name}}
                                </option>
                                {% endif %}
                                <option>Select Cost Centre</option>
                                {% for cost_center in cost_centers %}
                                <option value="{{cost_center.id}}">
                                  {{cost_center.name}}
                                </option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="mt-10 border-b border-gray-900/10 pb-12">
                        <h2
                          class="text-base font-semibold leading-7 text-gray-900"
                        >
                          User Roles
                        </h2>
                        <p class="mt-1 text-sm leading-6 text-gray-600">
                          Select user roles for the following application
                          modules.
                        </p>

                        <div class="mt-10 grid grid-cols-3 gap-4">
                          {% for app in user_applications %}
                          <div>
                            <label
                              for="{{app.name}}"
                              class="block text-sm font-medium leading-6 text-gray-900"
                              >{{app.fullname}}</label
                            >
                            <div class="mt-2">
                              <select
                                id="{{app.name}}"
                                name="{{app.name}}"
                                autocomplete="{{app.name}}"
                                class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 px-2 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                              >
                                {% if cr.user.roles|get_value:app.name %} 
                                    {% with app_role=cr.user.roles|get_value:app.name %}
                                        <option value="{{ app_role.id }}">
                                        {{ app_role.name }}
                                        </option>
                                    {% endwith %} 
                                {% endif %}
                                <option>Select Role</option>
                                {% for role in user_roles|get_value:app.name %}
                                <option value="{{role.id}}">
                                  {{role.name}}
                                </option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                      
                    </div>
                </div>
              </div>
            </div>

            <div class="flex mt-10 px-3 py-3">
              <div style="width: 50%">
                <button
                  style="width: 100%"
                  class="text-sm font-semibold leading-6 text-gray-900"
                >
                  CANCEL
                </button>
              </div>
              <div style="width: 50%">
                <button
                  style="width: 100%"
                  type="submit"
                  class="rounded-md bg-blue-925 hover:bg-blue-550 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                >
                  UPDATE CHANGE REQUEST
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  $(document).ready(() => {
    const region = document.getElementById("region");
    const cost_center = document.getElementById("cost_center");

    region.addEventListener("change", (e) => {
      const regionId = e.target.value;
      fetch(`{{BASE_URL}}:{{PORT}}/users/filtered_centers/${regionId}`)
        .then((res) => res.json())
        .then((data) => {
          console.log("var: ", data);
          cost_center.innerHTML = "<option>Select Cost Centre</option>";
          data.forEach((_cost_center) => {
            cost_center.innerHTML += `<option value="${_cost_center.id}">${_cost_center.name}</option>`;
          });
        });
    });

    region.addEventListener("change", (e) => {
      const regionId = e.target.value;
      fetch(`{{BASE_URL}}:{{PORT}}/users/filtered_districts/${regionId}`)
        .then((res) => res.json())
        .then((data) => {
          console.log("var: ", data);
          district.innerHTML = "<option>Select District</option>";
          data.forEach((_district) => {
            district.innerHTML += `<option value="${_district.id}">${_district.district}</option>`;
          });
        });
    });

    district.addEventListener("change", (e) => {
      const districtId = e.target.value;
      fetch(`{{BASE_URL}}:{{PORT}}/users/filtered_depots/${districtId}`)
        .then((res) => res.json())
        .then((data) => {
          console.log("depots: ", data);
          depot.innerHTML = "<option>Select Depot</option>";
          data.forEach((_depot) => {
            depot.innerHTML += `<option value="${_depot.id}">${_depot.depot}</option>`;
          });
        });
    });
  });
</script>
{% endblock %}
