<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Excellence</title>
    <link
      rel="shortcut icon"
      href="{% static 'assets/images/website-logo.png' %}"
    />
    <link href="{% static 'assets/css/tailwind.css' %}" rel="stylesheet" />
  </head>
  <body>
    <main>
      <div
        style="height: 100vh"
        class="flex justify-center items-center w-full bg-gray-100"
      >
        <div
          style="width: 40%"
          class="shadow bg-gray-200 h-auto shadow-gray-400 rounded-lg"
        >
          <div
            style="display: flex; flex-direction: column"
            class="flex px-4 py-4"
          >
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
              <img
                class="mx-auto h-28 w-auto"
                src="{% static 'assets/images/website-logo.png' %}"
                alt="Your Company"
              />
              <h2
                class="mt-2 last:text-center text-2xl font-bold leading-9 tracking-tight text-blue-950"
              >
                BUSINESS EXCELLENCE
              </h2>
            </div>

            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
              {% if form.errors %}
              <p>Your username and password didn't match. Please try again.</p>
              {% endif %} {% if next %} {% if user.is_authenticated %}
              <p>
                Your account doesn't have access to this page. To proceed,
                please login with an account that has access.
              </p>
              {% else %}
              <p>Please login to see this page.</p>
              {% endif %} {% endif %}
              <form class="space-y-6" name="loginForm" method="post">
                {% csrf_token %}
                <div>
                  <label
                    for="username"
                    class="block text-sm font-medium leading-6 text-gray-900 mt-2"
                    >USERNAME</label
                  >
                  <div class="mt-2">
                    <input
                      id="username"
                      name="username"
                      type="text"
                      autocomplete="username"
                      required
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-500 sm:text-sm sm:leading-6"
                    />
                  </div>
                </div>

                <div>
                  <label
                    for="password"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >PASSWORD</label
                  >
                  <div class="mt-2">
                    <input
                      id="password"
                      name="password"
                      type="password"
                      autocomplete="current-password"
                      required
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-500 sm:text-sm sm:leading-6"
                    />
                  </div>
                </div>

                <div>
                  <button
                    type="submit"
                    name="login"
                    class="flex w-full justify-center rounded-md bg-blue-925 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                  >
                    LOGIN
                  </button>
                </div>
              </form>

              <p class="mt-10 text-center text-sm text-gray-500">
                Forgot your password?
                <a
                  class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
                  href="./recover.php?id='<?php echo $username; $error = 'Forgot Password?';?>'"
                >
                  <?php echo $error; ?>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
