<!--users/templates/quotations/index.html-->
{% extends 'admin_layout.html' %} {% block styles %}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"
/>
<style>
  .dataTables_wrapper .dataTables_length select {
    width: 4rem;
  }
</style>
{% endblock styles %} {% block content %}
<div class="content-wrapper">
  <div
    class="bg-gulf-blue-100 shadow shadow-gulf-blue-300 text-gulf-blue-900 rounded px-2 py-2"
  >
    <div class="flex justify-between items-center mb-5">
      <span class="text-lg font-semibold">Comperative Schedules</span>
      <div class="flex justify-end items-center">
      <a
      href="/comperative_schedule/create_comperative_schedule/"
      class="border-gulf-blue-600 hover:bg-gulf-blue-400 hover:text-gulf-blue-50 font-bold py-2 px-4 rounded m-2"
      >
      Create Schedule
    </a>
      <a
      href="/comperative_schedule/all_schedules"
      class="bg-gulf-blue-600 hover:bg-gulf-blue-800 text-white font-bold py-2 px-4 rounded m-2"
      >
      All Schedules
    </a>
    </div>
    </div>
    <div class="flex justify-end items-center mb-5">
      {% if fm_role == False and gm_role == False %}
      <a
      href="/comperative_schedule/comperative_schedules"
      class="bg-gulf-blue-600 hover:bg-gulf-blue-800 text-white font-bold py-2 px-4 rounded m-2"
      >
      Your Schedules
    </a>
      <a
        href="/comperative_schedule/pending_commitee"
        class="bg-gulf-blue-600 hover:bg-gulf-blue-800 text-white font-bold py-2 px-4 rounded m-2"
        >
        Pending Committee
      </a>
      {% endif %}
      {% if fm_role == True %} 
      <a
      href="/comperative_schedule/pending_fm_approval"
      class="bg-gulf-blue-600 hover:bg-gulf-blue-800 text-white font-bold py-2 px-4 rounded m-2"
      >
      Pending Finance
    </a>    
    {% endif %} 
    {% if gm_role == True %}
    <a
    href="/comperative_schedule/pending_gm_approval"
    class="bg-gulf-blue-600 hover:bg-gulf-blue-800 text-white font-bold py-2 px-4 rounded m-2"
    >
      Pending GM
    </a>
    {% endif %}
    </div>
    <table id="users_index" class="display" style="width: 100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Scope</th>
          <th>Committee</th>
          <th>Finance</th>
          <th>GM</th>
          <th>Created On</th>
        </tr>
      </thead>
      <tbody></tbody>
      <tfoot>
        <tr>
            <th>ID</th>
            <th>Scope</th>
            <th>Committee</th>
            <th>Finance</th>
            <th>GM</th>
            <th>Created On</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
  var objs = JSON.parse("{{cs|escapejs}}");

  $(document).ready(function () {
    $("#users_index").DataTable({
      data: objs,
      columns: [
        {
          data: "cs_id",
          render: function (data, type, row, meta) {
            return `
              <a type="button" class="btn btn-info" href='/comperative_schedule/comperative_schedule/${row.cs_id}' >
                ${data}              
              </a>`;
          },
        },
        {
          data: "scope_of_work",
        },
        {
          data: "committee_approval",
          render: function (data, type, row, meta) {
            let approval_badge = ""
            if(data === "Approval Complete"){
              approval_badge = `
              <a type="button" class="bg-green-300 text-green-800 rounded px-1 py-2 w-full text-center" href='/comperative_schedule/comperative_schedule/${row.cs_id}' >
                ${data}              
              </a>`
            } else if (data === "Rejected"){
              approval_badge = `
              <a type="button" class="bg-red-300 text-red-800 rounded px-1 py-2 w-full text-center" href='/comperative_schedule/comperative_schedule/${row.cs_id}' >
                ${data}              
              </a>`
            } else {
              approval_badge = `
              <a type="button" class="bg-blue-300 text-blue-800 rounded px-1 py-2 w-full text-center" href='/comperative_schedule/comperative_schedule/${row.cs_id}' >
                ${data}              
              </a>`
            }
            return approval_badge;
          },
        },
        {
          data: "fm_approval",
          render: function (data, type, row, meta) {
            let approval_badge = ""
            if(data === "Approved"){
              approval_badge = `
              <a type="button" class="bg-green-300 text-green-800 rounded px-1 py-2 w-full text-center" href='/comperative_schedule/comperative_schedule/${row.cs_id}' >
                ${data}              
              </a>`
            } else if (data === "Rejected"){
              approval_badge = `
              <a type="button" class="bg-red-300 text-red-800 rounded px-1 py-2 w-full text-center" href='/comperative_schedule/comperative_schedule/${row.cs_id}' >
                ${data}              
              </a>`
            } else {
              approval_badge = `
              <a type="button" class="bg-blue-300 text-blue-800 rounded px-1 py-2 w-full text-center" href='/comperative_schedule/comperative_schedule/${row.cs_id}' >
                ${data}              
              </a>`
            }
            return approval_badge;
          },
        },
        {
          data: "gm_approval",
          render: function (data, type, row, meta) {
            let approval_badge = ""
            if(data === "Approved"){
              approval_badge = `
              <a type="button" class="bg-green-300 text-green-800 rounded px-1 py-2 w-full text-center" href='/comperative_schedule/comperative_schedule/${row.cs_id}' >
                ${data}              
              </a>`
            } else if (data === "Rejected"){
              approval_badge = `
              <a type="button" class="bg-red-300 text-red-800 rounded px-1 py-2 w-full text-center" href='/comperative_schedule/comperative_schedule/${row.cs_id}' >
                ${data}              
              </a>`
            } else {
              approval_badge = `
              <a type="button" class="bg-blue-300 text-blue-800 rounded px-1 py-2 w-full text-center" href='/comperative_schedule/comperative_schedule/${row.cs_id}' >
                ${data}              
              </a>`
            }
            return approval_badge;
          },
        },
        {
          data: "created_at"
        }
      ],
    });
  });
</script>
{% endblock scripts %}
