{% extends "admin_layout.html" %} {% block content %}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-primary text-white me-2">
        <i class="menu-icon">
            <span class="material-symbols-outlined mt-1">
                straighten
            </span>
          </i>
      </span>
      Connections
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
        <a href="/commercials/connections/connection/create" class="text-decoration-none">
          <span></span>Back
          <i
            class="icon-sm text-primary align-middle"
          >
          <span class="material-symbols-outlined">
            arrow_back
          </span>
        </i>
    </a>
        </li>
      </ul>
    </nav>
</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create New Connection Record</h4>
        <p class="card-description">Fill all required fields</p>
        <form
          method="post"
          action="/commercials/connections/connection/create"
          enctype="multipart/form-data"
          role="form text-left"
        >
          {% csrf_token %}
          <div class="mb-3">
            <label for="enquiry_no" class="form-label">Account Number</label>
            <input
              type="text"
              name="enquiry_no"
              class="form-control"
              placeholder="Enquiry Number"
              aria-label="Enquiry Number"
            />
          </div>
          <div class="mb-3">
            <label for="fullname" class="form-label">Fullname</label>
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Full Name"
              aria-label="Name"
            />
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input
              type="text"
              name="address"
              class="form-control"
              placeholder="Address"
              aria-label="Address"
            />
          </div>
          <div class="mb-3" id="depot">
            <label for="depot" class="form-label">Depot</label>
            <select id="depot" class="form-select" name="depot" aria-label="">
              <option selected>Select Depot</option>
              <option value="Mabelreign Depot">Mabelreign Depot</option>
              <option value="Borrowdale Depot">Borrowdale Depot</option>
              <option value="Glen View Depot">Glen View Depot</option>
              <option value="Kuwadzana Depot">Kuwadzana Depot</option>
              <option value="Mabvuku Depot">Mabvuku Depot</option>
              <option value="Ruwa Depot">Ruwa Depot</option>
              <option value="Warren Park Depot">Warren Park Depot</option>
              <option value="Waterfalls Depot">Waterfalls Depot</option>
              <option value="CBD Depot">CBD Depot</option>
              <option value="Zengeza Depot">Zengeza Depot</option>
            </select>
          </div>
          <div class="mb-3" id="district">
            <label for="district" class="form-label">District</label>
            <select id="district" class="form-select" name="district" aria-label="">
              <option selected>Select District</option>
              <option value="Harare North">Harare North</option>
              <option value="Harare North East">Harare North East</option>
              <option value="Harare East">Harare East</option>
              <option value="Harare South">Harare South</option>
              <option value="Harare CITY CENTRE">Harare CITY CENTRE</option>
              <option value="Chitungwiza">Chitungwiza</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Attachment</label>
            <input
              type="file"
              name="e21"
              class="form-control"
              placeholder="Form E21"
              aria-label=""
              aria-describedby=""
            />
          </div>

          <div class="text-center">
            <div class="row">
              <div class="col-6">
                <a type="button" href="/commercials/connections/dashboard" class="btn btn-secondary w-100 my-4 mb-2">
                  Cancel
                </a>
              </div>
              <div class="col-6">
                <button type="submit" class="btn btn-info w-100 my-4 mb-2">
                  Submit
                </button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  
  </div>
<div class="modal" id="responseModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {% if success == "true" %}
        <h5 class="modal-title">SUCCESS</h5>
        {% else %}
        <h5 class="modal-title">FAILED</h5>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if success == "true" %}
        <div class="alert alert-success" role="alert">
          Record created successfully
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
          Failed to create record
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 
{% block js %}
<script>
  $(document).ready(function () {
    var success = "{{success|safe}}"
    console.log("response state: ", success);
    if(success !== ""){
      newClassModalOpen()
    }

    function newClassModalOpen() {
      let myModal = new bootstrap.Modal(
        document.getElementById("responseModal"),
        {}
      );
      myModal.show();
    };
  
  })
</script>
{% endblock js %}
