{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}

   <div class="grid grid-cols-3 gap-6 mt-4">
    <a href="{% static '' %}">
    <div
      class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
    >
              <div class="group relative">
                <button type="button" style="width:18rem; height:6rem" class="flex-items-center outline-none px-3 py-1 w-28 focus:outline-none">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3"> Calibration</span></button>
              </div>
      </div></a>



    

          <a href="{% static 'documents\Procedures_WorkInstr\engineering procedures\maintanance\Change_procedure.pdf' %}">
            <div
              class=" bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
            >
                      <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem" class="flex-items-center outline-none px-3 py-1 w-28 focus:outline-none">
                          <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                          <span class="ml-3">Change Procedure</span></button></div>
              </div></a>

    <a href="{% static 'documents\Procedures_WorkInstr\engineering procedures\maintanance\Corrective_action_procedure.pdf' %}">
    <div
      class=" bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
    >
              <div class="group relative">
                <button type="button" style="width:18rem; height:6rem" class="flex-items-center outline-none px-3 py-1 w-28 focus:outline-none">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3">Corrective Action</span></button></div>
      </div></a>   

    <a href="{% static 'documents\Procedures_WorkInstr\engineering procedures\maintanance\Document_control_procedure.pdf' %}">
    <div
      class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
    >
              <div class="group relative">
                <button type="button" style="width:18rem; height:6rem" class="flex-items-center outline-none px-3 py-1 w-28 focus:outline-none">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3"> Document Control Procedure</span></button>
                </div>
                </div></a>
<a href="{% static 'documents\Procedures_WorkInstr\engineering procedures\maintanance\Maintenance_planning_procedure.pdf' %}">
    <div
      class=" bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
    >
              <div class="group relative">
                <button type="button" style="width:18rem; height:6rem" class="flex-items-center outline-none px-3 py-1 w-28 focus:outline-none">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3"> Maintanance Planning</span></button>
                </div>
                </div></a>
<a href="{% static 'documents\Procedures_WorkInstr\engineering procedures\maintanance\Non_conformance_procedure.pdf' %}">
    <div
      class=" bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
    >
              <div class="group relative">
                <button type="button" style="width:18rem; height:6rem" class="flex-items-center outline-none px-3 py-1 w-28 focus:outline-none">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3">Control of Non-Conforming Products & Services</span></button>
                </div>
                </div></a>
<a href="{% static 'documents\Procedures_WorkInstr\engineering procedures\maintanance\Plant_maintenance_procedure.pdf' %}">
    <div
      class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
    >
              <div class="group relative">
                <button type="button" style="width:18rem; height:6rem" class="flex-items-center outline-none px-3 py-1 w-28 focus:outline-none">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3"> Plant Maintanance</span></button>
                </div>
                </div></a>

    <a href="{% static 'documents\Procedures_WorkInstr\engineering procedures\maintanance\Preventive_action_procedure.pdf' %}">
    <div
      class=" bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
    >
              <div class="group relative">
                <button type="button" style="width:18rem; height:6rem" class="flex-items-center outline-none px-3 py-1 w-28 focus:outline-none">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3"> Preventive Action</span></button>
                </div>
                </div></a>


                <a href="{% static 'documents\Procedures_WorkInstr\engineering procedures\maintanance\Road Traffic Handling Procedure.pdf' %}">
                  <div
                    class=" bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                  >
                            <div class="group relative">
                              <button type="button" style="width:18rem; height:6rem" class="flex-items-center outline-none px-3 py-1 w-28 focus:outline-none">
                                <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                <span class="ml-3"> Road Traffic Accident Handling</span></button>
                            </div>
                    </div></a> 

<a href="{% static 'documents\Procedures_WorkInstr\engineering procedures\maintanance\Vehicle_hiring_procedure.pdf' %}">
    <div
      class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
    >
              <div class="group relative">
                <button type="button" style="width:18rem; height:6rem" class="flex-items-center outline-none px-3 py-1 w-28 focus:outline-none">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3">Vehicle Hiring</span></button>
                </div>
                </div></a>

      
 </div>

 <div style="display: flex; justify-content: center">
  <a href="javascript:history.back()">
    <button
      style="
        width: 6rem;
        height: 3rem;
        background-color: #020617;
        margin-right: 20px;
        border-radius: 1.5rem;
      "
      class="w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center"
    >
      <span class="pr-1 font-semibold flex-1 text-blue-50">Back</span>
    </button>
  </a>
</div>
        
{%endblock %}