{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}

<div class="flex justify-between items-center p-3">
  <h1 class="text-2xl text-black font-bold ">Finance Procedures and Work Instructions</h1>


  <div style= "	color: rgb(3 7 18);" class=" text-md mr-4">CLAUSE 4.4</div>

 </div>
 <div class="grid grid-cols-3 gap-6 mt-4">
  <a href="{%url 'Eng_ProcedureHome'%}">
     <div
       class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-2xl font-bold"
     >
               <div class="group relative">
                 <button type="button" style="width:18rem; height:6rem">
                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                   <span class="ml-3">740 Purchasing</span></button>
               </div>
       </div></a>
       <a href="{%url 'Engineering Forms'%}">
        <div
          class=" bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-2xl font-bold"
        >
                  <div class="group relative">
                    <button type="button" style="width:18rem; height:6rem">
                        <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                      <span class="ml-3">Stores Norms and Procedures</span></button>
                  </div>
          </div></a>

    </div>


   <div style="display: flex;justify-content: center;" class="mt-6">
      <a href="javascript:history.back()">
          <button style="width: 6rem;height: 3rem;background-color: #020617;margin-right: 20px"
              class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded-xl flex items-center">
              <span class="pr-1 font-bold flex-1 text-blue-50">Back</span>
    
          </span></button> </a>
    </div>
{%endblock%}