{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}
<div class="flex-none justify-normal" >
    <div>
        <form method="get">
            <input class="rounded-xl w-60 p-1 hover:bg-gulf-blue-100 text-sm" type="text" name="keyword" placeholder="Search Forms"
                value="{{ request.GET.keyword }}">
            <input class=" bg-gray-300" type="submit" value="">
        </form>
    </div>
        
  <div class="card">
    <ul>
      {% for result in results %}
      <li>
        <a class="m-3 text-gulf-blue-600 rounded-xl no-underline font-semibold decoration-sky-600 " tabindex="-1" href="{% static result.path  %} ">
          {{ result.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>   

<div class="grid grid-cols-3 gap-4 row-span-2 mt-6">
  <div class="bg-blue-600 px-10 py-10 rounded-md shadow-md">
    <div class="flex justify-center"><a href="{%url 'Engineering Forms'%}"
        class="text-3xl text-center text-white"><strong>Engineering Forms</strong></a></div>
  </div>
  <div class="bg-green-300 px-10 py-10 rounded-md shadow-md">
    <div class="flex justify-center"><a href="{%url 'Finance Forms'%}"
        class="text-3xl text-center text-white"><strong>Finance Forms</strong></a></div>
  </div>
  <div class="bg-gulf-blue-300 px-10 py-10 rounded-md shadow-md">
    <div class="flex justify-center"><a href="{%url 'Commercial Forms'%}"
        class="text-3xl text-center text-white"><strong>Commercial Forms</strong></a></div>
  </div>
</div>  
<div class=" mt-6 flex justify-center">
<div class="bg-apple-300 px-10 py-10 rounded-md shadow-md">
    <div class="flex justify-center"><a href="{%url 'Human Resources Forms'%}"
        class="text-3xl text-center text-white"><strong>Human Resources Forms</strong></a></div>
  </div>
</div>
<div class=" flex justify-left"><a href="{%url 'Processes and Procedures'%}"><button type="button"
    class="mt-20 w-40 bg-gray-400  rounded-full px-3 py-2 text-black text-xl font-bold">Back</button></a></div>

{%endblock%}


