{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}
<div class="flex-none justify-normal" >
    <div>
        <form method="get">
            <input class="rounded-xl w-60 p-1 hover:bg-blue-100 text-sm" type="text" name="keyword" placeholder="Search "
                value="{{ request.GET.keyword }}">
            <input class=" bg-gray-300" type="submit" value="">
        </form>
    </div>
    <div class="card place-content-center">
      <ul>
        {% for result in results %}
        <li>
          <a class="m-3 text-blue-600 rounded-xl no-underline font-semibold decoration-sky-600 " tabindex="-1" href="{% static result.path  %} ">
            {{ result.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>  
    
</div>   
<div class="card place-content-center">
  <ul>
    {% for result in results %}
    <li>
      <a class="m-3 text-blue-600 rounded-xl no-underline font-semibold decoration-sky-600 " tabindex="-1" href="{% static result.path  %} ">
        {{ result.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>  

<div class="grid grid-cols-3 gap-4 row-span-2 mt-6">
  <div class="bg-scarlet-red-400 px-10 py-10 rounded-md shadow-md">
    <div class="flex justify-center"><a href="{%url 'display'%}"
        class="text-3xl text-center text-white"><strong>Process Maps</strong></a></div>
  </div>
  <div class="bg-jade-600 px-10 py-10 rounded-md shadow-md">
    <div class="flex justify-center"><a href="{%url 'Finance Forms'%}"
        class="text-3xl text-center text-white"><strong>Process risks and opportinities</strong></a></div>
  </div>
  <div class="bg-gulf-blue-600 px-10 py-10 rounded-md shadow-md">
    <div class="flex justify-center"><a href="{%url 'Commercial Forms'%}"
        class="text-3xl text-center text-white"><strong>Procedures and work instructions</strong></a></div>
  </div>
</div>  
<div class=" mt-6 flex justify-center">
<div class="bg-apple-600 px-10 py-10 rounded-md shadow-md">
    <div class="flex justify-center"><a href="{%url 'Forms Index'%}"
        class="text-3xl text-center text-white"><strong>Forms</strong></a></div>
  </div>
</div>
<div class=" flex justify-left"><a href="{%url 'dashboard'%}"><button type="button"
    class="mt-20 w-40 bg-gray-300  rounded-full px-3 py-2 text-black text-xl font-bold">Back</button></a></div>

{%endblock%}