{% extends "admin_layout.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <head>
        <style>
.arrow, .arrow-step {
    position: relative;
    {% comment %} margin-left: 5px; /* Adjust this to move the arrows left or right */ {% endcomment %}
}

.arrow::before, .arrow::after, .arrow-step::before, .arrow-step::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.arrow::before, .arrow-step::before {
    left: 100%;
    transform: translateY(-50%);
    border-left: 20px solid #28a745; /* Adjust arrow color here */
}

.arrow::after, .arrow-step::after {
    left: 104%;
    transform: translateY(-50%);
    border-left: 20px solid #28a745; /* Adjust arrow color here */
}
        </style>
    </head>
    <div class="m-auto mt-5 ">
        <div class="card grid grid-cols-1 gap-2 mb-3">
            <div class="card-body m-2">
                <div class="card-body m-auto mb-5 p-3 border rounded    container rounded  shadow-lg">
                    <div class="px-6 py-4">
                        <h1 class="text-center mb-4 font-bold text-xl  mb-2">Purchase Request Details</h1>
                        <div class="card grid grid-cols-1 gap-2 mb-3">
                            <div class="card-body m-auto   {% if purchase_request.ace %}grid  grid-cols-2 gap-2{% endif %}    rounded    container rounded">
                                <div class="card-body m-auto grid-cols-2 mb-5 bg-gulf-blue-200 ed p-3 border rounded    container rounded">
                                    {% if purchase_request.allocation_code_of_expenditure %}
                                        <p class="font-bold   mb-2">
                                            Allocation code of expenditure: {{ purchase_request.allocation_code_of_expenditure |default_if_none:'' }}
                                        </p>
                                    {% endif %}
                                    <p class="font-bold text-xl  mb-2">Procurement reference number: {{ purchase_request.pr_no |default_if_none:'' }}</p>
                                    {% if purchase_request.payment_mode %}
                                        <p class="font-bold   mb-2">Payment mode: {{ purchase_request.payment_mode |default_if_none:'' }}</p>
                                    {% endif %}
                                    <p class="font-bold   mb-2">Scope of work: {{ purchase_request.scope_of_work |default_if_none:'' }}</p>
                                    <p class="font-bold   mb-2">
                                        Requested by:
                                        {% if request.user == purchase_request.requested_by %}
                                            You
                                        {% elif purchase_request.requested_by.get_full_name %}
                                            {{ purchase_request.requested_by.get_full_name }}
                                        {% elif request.user == purchase_request.requested_by %}
                                            {{ purchase_request.requested_by }}
                                        {% endif %}
                                    </p>
                                    <p class="font-bold   mb-2">Created at: {{ purchase_request.created_at |default_if_none:'' }}</p>
                                    <p class="font-bold   mb-2">Section: {{ purchase_request.section |default_if_none:'' }}</p>
                                    <p class="m-4 flex flex-row gap-2 mb-3">
                                        <div class=" pt-1 mx-5 grid grid-cols-5 px-5">
                                            {% for attachment in purchase_request.attachment_set.all %}
                                                <div class="rounded  bg-white border border-1 shadow-lg  row text-center m-2">
                                                    <a href="{{ attachment.file.url }}"
                                                       class=" text-center text-blue-600  p-3 sm "
                                                       name>{{ attachment.file.name|basename }}</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </p>
                                </div>
                                {% if purchase_request.ace %}
                                    <div class="card-body m-auto mb-5 bg-gulf-blue-200 ed p-3 border rounded    container rounded  shadow-lg">
                                        <h1 class="text-center mb-4 font-bold text-xl  mb-2">Depends on Ace with these Details</h1>
                                        <p class="font-bold   mb-2">Department: {{ purchase_request.ace.Department |default_if_none:'' }}</p>
                                        <p class="font-bold   mb-2">location: {{ purchase_request.ace.location |default_if_none:'' }}</p>
                                        <p class="font-bold   mb-2">section: {{ purchase_request.ace.section |default_if_none:'' }}</p>
                                        <p class="font-bold   mb-2">
                                            allocation code of expenditure: {{ purchase_request.ace.allocation_code_of_expenditure |default_if_none:'' }}
                                        </p>
                                        <p class="font-bold   mb-2">quantity: {{ purchase_request.ace.quantity |default_if_none:'' }}</p>
                                        <p class="font-bold   mb-2">amount: {{ purchase_request.ace.amount |default_if_none:'' }}</p>
                                        <p class="font-bold   mb-2">rejection reason: {{ purchase_request.ace.rejection_reason |default_if_none:'' }}</p>
                                        <p class="font-bold   mb-2">date created: {{ purchase_request.ace.date_created |default_if_none:'' }}</p>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card-body m-auto mb-5 bg-gulf-blue-200 ed p-3 border rounded    container rounded  shadow-lg">
                                <h1 class="text-center mb-4 font-bold text-xl  mb-2">Items</h1>
                                <div class="my-4 p-4 gap-2 grid grid-cols-3 mb-3 underline">
                                    <p class="font-bold mb-2">Item required</p>
                                    <p class="font-bold mb-2">unit of measure</p>
                                    <p class="font-bold mb-2">quantity</p>
                                </div>
                                {% comment %} <div class="card-body m-auto mb-5 bg-gulf-blue-200 ed p-3 border rounded    container rounded  shadow-lg"> {% endcomment %}
                                {% for item in purchase_request.pritem_set.all %}
                                    <div class="m-4 gap-2 grid grid-cols-3 mb-3">
                                        <p class=" mb-2">{{ item.item_required |default_if_none:'' }}</p>
                                        <p class=" mb-2">{{ item.unit_of_measurement |default_if_none:'' }}</p>
                                        <p class=" mb-2">{{ item.quantity |default_if_none:'' }}    {{ item.unit_of_measurement |default_if_none:'' }}</p>
                                    </div>
                                {% endfor %}
                                {% comment %} </div>  {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if can_cs %}
        <div class="fixed bottom-4 right-4">
            {% comment %} <a href="{% url 'comparative_schedules:adopt_schedule' purchase_request.id %}"
               title="edit"
               class="bg-blue-500  text-2xl px-3 p-2 text-white w-14 h-14 rounded-full hover:bg-blue-400 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
                <i class="fas fa-edit text-2xl m-auto"></i> Comparative Schedule
            </a> {% endcomment %}
        </div>
    {% endif %}
</div>
{% endblock content %}
