{% extends "admin_layout.html" %}
{% load static %}
{% load humanize %}
{% load custom_tags %}
{% block styles %}
  <link rel="stylesheet"
        href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  <style>.dataTables_wrapper .dataTables_length select { width: 4rem; }</style>
{% endblock %}
{% block content %}
  <title>Tokens Report</title>
  <div class="content-wrapper">
    <div class="grid grid-cols-1">
      <div class="bg-gulf-blue-100 shadow-lg rounded-lg p-6">
        <h3 class="text-center font-bold mb-4">Tokens Report</h3>
        {% if tokens %}
          <table id="tokens" class="table table-striped stripe mt-3 table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Type</th>
                <th>Date</th>
                <th>Cost Center</th>
                <th>Customer</th>
                <th>Meter number</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for token in tokens %}
                <tr class="h-1">
                  <td>
                    <a class="text-blue-500" href="{% url 'tokens:token' token.id %}">{{ token.id|default_if_none:'' }}</a>
                  </td>
                  <td>{{ token.reason|default_if_none:'' }}</td>
                  <td>{{ token.type|default_if_none:'' }}</td>
                  <td>{{ token.created_at|date }}</td>
                  <td>{{ token.cost_center }}</td>
                  <td>{{ token.customer.name|default_if_none:'' }}</td>
                  <td>
                    <span title="{{ token.meter.meter_type }}">{{ token.meter.number }}</span>
                  </td>
                  <td>{{ token.process.approval_set.last|default_if_none:"No Approval" }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        <div class=" container text-center ">
          {% if roles %}
            {% for app_roles in roles %}
              <span class="text-blue-400  mx-4 rounded border-2 border border-red-300 px-1  font-bold rounded">{{ app_roles }}</span>
            {% endfor %}
          {% endif %}
        </div>
        <form method="post"
              class="rounded border-2 border border-red-300 p-2 m-auto pr-4">
          {% csrf_token %}
          <div class="grid grid-cols-2 gap-4 mx-2 py-1">
            {{ tokenFilterForm.as_p }}
            <button type="submit"
                    class="bg-green-500 hover:bg-green-700 inline-block rounded-full m-auto text-white py-2 px-4 rounded">
              Filter
            </button>
          </div>
        </form>
        <br />
        <div class="mt-6 ">
          <canvas id="TokensChart" width="400" height="100"></canvas>
        </div>
        <div>
          <h2>TEMPER Token Statistics</h2>
          <canvas id="temperChart"></canvas>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
   <script>
    $(document).ready(function () {
      // Initialize the DataTable with options and Tailwind CSS classes
      $("#tokens").DataTable({
        // Set the number of rows to display per page
        "pageLength": 10,
    
        // Enable sorting on the specified columns
        "columnDefs": [
          { "orderable": true, "targets": [0, 1, 2] }
        ],
    
        // Enable searching within the table
        "searching": true,
    
        // Display the DataTable in a responsive manner
        "responsive": true,
      });
      const ctx = document.getElementById('temperChart').getContext('2d');
      const nonconformityChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: {{ dates|safe }},  // Dates for the x-axis
          datasets: [
           {
              label:'Total Tokens',
              data: {{ tempcreated|safe }},
              borderColor: 'rgba(153, 102, 255, 1)',
              backgroundColor: 'rgba(153, 102, 255, 0.2)',
            }, {
              label:'New Tokens',
              data: {{ tempnew|safe }},
              borderColor: 'rgba(86, 106, 255)',
              backgroundColor: 'rgba(86, 106, 255, 0.8)',
            },
             {
                label: 'SCSO Approved',
                data: {{ SCSapproved|safe }},
                borderColor: 'rgb(2, 147, 26)',
                backgroundColor: 'rgb(2, 147, 26)',
            },
            {
                label: 'SCSO Rejected',
                data: {{ SCSrejected|safe }},
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(240, 7, 232, 0.9)',
            },
            {
                label: 'Sales Exec Approved',
                data: {{ Salapproved|safe }},
                borderColor: 'rgb(54, 235, 66)',
                backgroundColor: 'rgba(19, 7, 240, 0.9)',
            },
            {
                label: 'Sales Exec Rejected',
                data: {{ Salrejected|safe }},
                borderColor: 'rgba(235, 54, 54, 0.5)',
                backgroundColor: 'rgba(153, 79, 128, 0.9)',
            },
            {
                label: 'Commercial Supervisor Approved', 
                data: {{ Comapproved|safe }},
                backgroundColorggg: 'rgb(54, 235, 66)',
                borderColor: 'rgba(0, 0, 0)',
            },
            {
                label: 'Commercial Supervisor Rejected',
                data: {{ Comrejected|safe }},
                backgroundColor: 'rgba(255, 99, 132, 1)',
                borderColor: 'rgb(0, 0, 0)',
            }
        ]
 
        },
        options: {
          responsive: true,
          scales: {
            x: {
              display: true,
              title: {
                display: true,
                text: 'Date'
              }
            },
            y: {
              display: true,
              title: {
                display: true,
                text: 'Number of tokens'
              }
            }
          }
        }
      });
    });
  
  </script>
  
{% endblock %}
