{% extends "admin_layout.html" %}
{% load crispy_forms_tags %}

{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
{% endblock styles %}

{% block content %}

{% include "appraisal/approval/detail.html" with stages=stages last_stage_num=last_stage_number %}


<div class="flex gap-2">
    <div class="flex-1">
        <h3>User Information</h3>
        <div class="px-4 justify-between shadow-xl rounded-lg border-2 border-indigo-400 grid grid-rows-2 grid-flow-col gap-2 py-2">
            
                <span>Cost Center: {{user.cost_center}}</span>
            
                <span>EC Number: {{user.username}}</span>

                <span>Grade: {{user.grade}}</span>

                <span>Current Position: {{user.designation}}</span>

                <span>Section: {{user.section}}</span>

        </div>   
    </div>

</div>

<div class="my-4">
    <h3>Appraiser Information</h3>
    <div 
    class="shadow-xl rounded-lg border-2 border-indigo-400"
    >
        <div class="container my-2">
            <form method="POST">
                {% csrf_token %}
                {% include "./roles/set_appraisal_users.html" %}

                {% if is_appraisee == True %}
                    <div class="flex justify-center">
                        <button type="submit" class="w-96 bg-blue-500 hover:bg-blue-700 inline-block rounded-full text-white py-2 px-4">Save Appraiser</button>
                    </div>
                {% endif %}

                {% if is_appraiser == True %}
                    <div class="flex justify-center">
                        <button type="submit" class="w-96 bg-blue-500 hover:bg-blue-700 inline-block rounded-full text-white py-2 px-4">Save Reviewer</button>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<div class="flex gap-4">
    <div class="flex-1 shadow-xl rounded-lg border-2 border-indigo-400">
        {% include "./experience/index.html" %}
    </div>
    
    <div class="flex-1 shadow-xl rounded-lg border-2 border-indigo-400">
        {% include "./qualification/index.html" %}
    </div>

  </div>


{% endblock %}

