{% extends 'admin_layout.html' %} 
{% load static %}
{% load custom_filters %}
{% block content %}
    <style>
      input[type=text], select {
        width: 100%;
        padding: 10px;  
      }
      </style>
<div class="flex justify-center items-center min-h-screen">
  <div class="container max-w-8xl bg-gulf-blue-200  text-gulf-blue-900 shadow-md rounded-lg p-8">
    <div class="card" style="width: 75rem;">
      <div class="card-body" card bg-dark>
        <h5 class="text-2xl font-bold text-black">Create Fault</h5>
          <p class="card-description text-base font-bold text-black mt-2">
            All fields are required to be filled.
          </p>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="mt-10 grid grid-cols-3 gap-3">
            <div>
              <label
                for="serialnumber"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Serialnumber</label
              >
              <div class="mt-2">
                <input
                  required
                  type="text"
                  name="eserialnumber"
                  id="eserialnumber"
                  class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 px-2 ring-inset ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
            <div>
                <label
                  for="Username"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Username</label
                >
                <div class="mt-2">
                  <input
                    required
                    type="text"
                    name="eUsername"
                    id="eUsername"
                    class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 px-2 ring-inset ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
               <div>
              <label
                for="fault"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Fault</label
              >
              <div class="mt-2">
                <input
                  required
                  type="text"
                  name="efault"
                  id="efault"
                  class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 px-2 ring-inset ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
          </div>
          <div class="mt-10 grid grid-cols-3 gap-3">
            <div>
                <label
                  for="ephoneextension"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Phone Extension</label
                >
                <div class="mt-2">
                  <input
                    required
                    type="text"
                    name="ephoneextension"
                    id="ephoneextension"
                    class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 px-2 ring-inset ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div>
                <label
                  for="repairstatus"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Repair Status</label
                >
                <div class="mt-2">
                  <select
                    id="erepairstatus"
                    name="erepairstatus"
                    class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 px-2 ring-inset ring-blue-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                  >
                    <option>Select status</option>
                    <option value="logged in">logged in</option>
                    <option value="repair in progress">repair in progress</option>
                    <option value="fixed">fixed</option>
                    <option value="irrepairable">irrepairable</option>
                  </select>
                </div>
              </div>
              <div>
                <label
                  for="location"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Location</label
                >
                <div class="mt-2">
                  <input
                    required
                    type="text"
                    name="elocation"
                    id="elocation"
                    class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 px-2 ring-inset ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
          </div>
          <div class="mt-10 grid grid-cols-3 gap-3">
            <div>
                <label
                  for="updatedby"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Updatedby</label
                >
                <div class="mt-2">
                  <input
                    required
                    type="text"
                    name="eupdatedby"
                    id="eupdatedby"
                    class="block w-full bg-gulf-blue-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 px-2 ring-inset ring-blue-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
          </div>
             
          <div class="flex justify-end mt-10">
            <button
              class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              type="submit"
            >
              Create Fault
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
 </div>
</div>
{% endblock content %}
 
  