{% extends 'admin_layout.html' %} 
{% load static %}
{% load custom_filters %}
{% block content %}
 <div class="content-wrapper">
  
  <div class="bg-gulf-blue-100 shadow shadow-gulf-blue-300 text-gulf-blue-900 rounded px-2 py-2">
    <form method="post">
      {% csrf_token %}
      <div class="space-y-12 px-5 py-5">

        <div class="mt-10 border-b border-gulf-blue-900/10 pb-12">
          <h2 class="text-base font-semibold leading-7 text-gulf-blue-900">
            Update Fault
          </h2>
          <p class="mt-1 text-sm leading-6 text-gulf-blue-900">
            All fields are required to be filled.
          </p>

          <div class="mt-10 grid grid-cols-3 gap-4">
                <input
                  type="hidden"
                  name="id"
                  id="id"
                  value="{{employee.id}}"
                  autocomplete="given-name"
                  class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                />
            
            <div>
              <label
                for="serialnumber"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Serial Number</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="eserialnumber"
                  value="{{employee.eserialnumber}}"
                  id="eserialnumber"
                  autocomplete="given-name"
                  class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                />
              </div>
            </div>
            <div>
              <label
                for="phoneextension"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Phone Extension</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="ephoneextension"
                  value="{{employee.ephoneextension}}"
                  id="ephoneextension"
                  autocomplete="given-name"
                  class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                />
              </div>
            </div>
            <div>
              <label
                for="fault"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Fault</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="efault"
                  value="{{employee.efault}}"
                  id="efault"
                  autocomplete="given-name"
                  class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                />
              </div>
            </div>
            <div>
              <label
                for="regions"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Region</label
              >
              <div class="mt-2">
                <select
                  id="regions"
                  name="regions"
                  autocomplete="regions"
                  class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                >
                  <option>Select region</option>
                  {% for region in regions %}
                    <option value="{{ region.id }}" {% if region.id == employee.regions.id %}selected{% endif %}>
                      {{ region.region }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div>
              <label
                for="comment"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Comment</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="comment"
                  value="{{employee.comment}}"
                  id="comment"
                  rows="4"
                  autocomplete="given-name"
                  class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                />
              </div>
            </div>
            <div>
              <label
                for="department"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Department</label
              >
              <div class="mt-2">
                <select
                  id="department"
                  name="department"
                  autocomplete="department"
                  class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                >
                  <option>Select department</option>
                  {% for section in sections %}
                    <option value="{{ section.id }}" {% if section.id == employee.sections.id %}selected{% endif %}>
                      {{ section.section }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div>
              <label for="repairstatus" class="block text-sm font-medium leading-6 text-gray-900">Repair Status</label>
            
              <select
                id="erepairstatus"
                name="erepairstatus"
                class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
              >
                <option>Select Status</option>
                <option value="loggedin" {% if employee.erepairstatus == "loggedin" %}selected{% endif %}>loggedin</option>
                <option value="repair in progress" {% if employee.erepairstatus == "repair in progress" %}selected{% endif %}>repair in progress</option>
                <option value="fixed" {% if employee.erepairstatus == "fixed" %}selected{% endif %}>fixed</option>
                <option value="absolute state" {% if employee.erepairstatus == "absolute state" %}selected{% endif %}>absolute state</option>
                <option value="need replacement" {% if employee.erepairstatus == "need replacement" %}selected{% endif %}>need replacement</option>
              </select>
            </div>
            


              {% comment %} <div class="col-md-4 pr-md-1">
                <div class="form-group">
                  <label
                    for="region"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Date Created</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      name="region"
                      id="region"
                      autocomplete="given-name"
                      class="form-control"
                    />
                  </div>
                </div>
              </div> {% endcomment %}
            </div>
      <div class="flex justify-end mt-4 gap-4">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Update Record
                </button>
                <a href="{% url 'show_fault' %}" class="bg-blue-300 hover:bg-gray-400 text-gray-700 font-bold py-2 px-4 rounded">
                    Show Details
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}