<!--users/templates/users/add_user.html-->

{% extends 'admin_layout.html' %} {% block content %}
<div class="content-wrapper">
  
  <div class="bg-gulf-blue-100 shadow shadow-gulf-blue-200 text-gray-900 rounded px-2 py-2">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="space-y-12 px-5 py-5">

        <div class="mt-10 border-b border-gray-900/10 pb-12">
          <h2 class="text-base font-semibold leading-7 text-gray-900">
            Create File
          </h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">
            Fill all required fields.
          </p>

          <div class="mt-10 grid grid-cols-3 gap-4" x-data="folderSelector()">
            
            <input type="hidden" name="level" id="level_id" />

            <div>
              <label
                for="filename"
                class="block text-sm font-medium leading-6 text-gray-900"
                >File Name</label
              >
              <div class="mt-2">
                <input
                required
                  type="text"
                  name="filename"
                  id="filename"
                  autocomplete="given-name"
                  class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
            <div>
                <label
                  for="uploaded_file"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Upload File</label
                >
                <div class="mt-2">
                  <input
                    required
                    accept="application/pdf"
                    type="file"
                    name="uploaded_file"
                    id="uploaded_file"
                    autocomplete="family-name"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm px-2 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>

           
            <div>
              <label
                for="file_type"
                class="block text-sm font-medium leading-6 text-gray-900"
                >File Type</label
              >
              <div class="mt-2">
                <select
                required
                  id="file_type"
                  name="file_type"
                  autocomplete="file_type"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm px-2 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                  x-model="selectedType" @change="fetchRootFolders(selectedType)"
                >
                    <option value="">Select File Type</option>
                  {% for filetype in folder_applications %}
                      <option value="{{ filetype.id }}">{{ filetype.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div>
                <label for="root_folder" class="block text-sm font-medium leading-6 text-gray-900">Root Folder</label>
                <div class="mt-2">
                <select required id="root_folder" name="root_folder" x-model="selectedFolder" @change="fetchSubfolders(selectedFolder, 0)"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm px-2 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                >
                    <option value="">Select Root folder</option>
                    <!-- Assuming you have a list of folders passed to the template -->
                    <template x-for="(rootFolder, index) in rootFolders" :key="index">
                        <option :value="rootFolder.id" x-text="rootFolder.name"></option>
                    </template>
                </select>
                </div>
            </div>

            <template x-for="(subfolderGroup, level) in subfolderGroups" :key="level">
                <div x-show="subfolderGroup.length > 0">
                    <label :for="'subfolder_' + level" class="block text-sm font-medium leading-6 text-gray-900">Subfolder Level <span x-text="level + 1"></span></label>
                    <div class="mt-2">
                        <select 
                        :id="'subfolder_' + level" 
                        :name="'subfolder_' + level" 
                        x-model="selectedSubfolders[level]" 
                        @change="fetchSubfolders(selectedSubfolders[level], level + 1)"
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm px-2 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                            <option value="">Select a subfolder</option>
                            <template x-for="(subfolder, index) in subfolderGroup" :key="index">
                                <option :value="subfolder.id" x-text="subfolder.name"></option>
                            </template>
                        </select>
                    </div>
                </div>
            </template>

            <div>
            <label
                for="section"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Section</label
            >
            <div class="mt-2">
                <select
                required
                id="section"
                name="section"
                autocomplete="section"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm px-2 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                >
                <option value="">Select Section</option>
                {% for section in sections %}
                <option value="{{section.id}}">{{section.section}}</option>
                {% endfor %}
                </select>
            </div>
            </div>

            <div>
            <label
                for="region"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Region</label
            >
            <div class="mt-2">
                <select
                required
                id="region"
                name="region"
                autocomplete="region"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm px-2 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                >
                <option value="">Select Region</option>
                {% for region in regions %}
                <option value="{{region.id}}">{{region.region}}</option>
                {% endfor %}
                </select>
            </div>
            </div>

          </div>
        </div>
      </div>

      <div class="flex mt-10 px-3 py-3">
        <div style="width: 50%;" class="flex justify-center">
          <a href="/knowledge_center/categories" style="width: 100%;" class="text-sm text-center font-semibold leading-6 text-gray-900">
            CANCEL
          </a>
        </div>
        <div style="width: 50%;">
          <button
          style="width: 100%;"
            type="submit"
            class="rounded-md bg-gulf-blue-900 hover:bg-gulf-blue-550 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            SAVE FILE
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function folderSelector() {
        return {
            level: 0,
            selectedType: '',
            selectedFolder: '',
            subfolders: [],
            rootFolders: [],
            subfolderGroups: [],
            selectedSubfolders: [],
            fetchRootFolders(selectedType) {
                console.log("fetchRootFolders: ", selectedType)
                let selectedTypeId = selectedType ? selectedType : this.selectedType;
                console.log("selectedTypeId: ", selectedTypeId);
                if (!selectedTypeId) {
                    console.log("No selectedTypeId, exiting function.");
                    return;
                }

                // Fetch subfolders from the server (replace with your actual API endpoint)
                fetch(`/ims/get_root_folders/${selectedTypeId}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log("data: ", data);
                        this.rootFolders = data;
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
            },
            fetchSubfolders(subfolder, level) {
                console.log("fetchSubfolders: ", subfolder, level);
                this.level = level + 1;
                let levelElement = document.getElementById('level_id');
                if(levelElement) {
                    levelElement.value = level - 1;
                }
                let folderId = subfolder ? subfolder : this.selectedFolder;
                if (!folderId) return;

                // Fetch subfolders from the server (replace with your actual API endpoint)
                fetch(`/ims/get_subfolders/${folderId}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(`subfolders at level ${level}: `, data);
                        // Update the subfolder group at the current level
                        this.subfolderGroups[level] = data;
                        // Clear subfolder groups at deeper levels
                        this.subfolderGroups = this.subfolderGroups.slice(0, level + 1);
                        this.selectedSubfolders = this.selectedSubfolders.slice(0, level + 1);
                        this.selectedSubfolders[level] = subfolder;
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
            },
        };
    }
</script>
{% endblock scripts %}


