{% extends 'admin_layout.html' %} {% load static %} {% block content %}

<div style="margin-bottom: 25px" class="content-wrapper p-2 m-px text-gray-800">
  <div class="grid grid-cols-3 gap-4">
    <div
      class="w-auto bg-gulf-blue-300 text-center shadow shadow-nepal-300 text-gray-700 rounded px-10 py-10"
    >
      <a href="/knowledge-center/view_legislation/rmasts">
        <div class="sm:flex lg:items-center lg:justify-between">
          <div class="min-w-0 flex-1">
            <div class="">
              <div class="mx-auto">
                <div class="group relative">
                  <div class="flex justify-between items-center">
                    <img
                      src="{% static 'assets/images/folder.png' %}"
                      alt=""
                      class="h-1/5 w-1/5 object-cover object-center"
                    />
                    <span
                      class="pr-1 font-semibold flex-1 text-left text-gray-800 px-2"
                      >RMasts, Poles, Stays and Crossarms(EIMI 21)</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div
      class="w-auto bg-gulf-blue-300 text-center shadow shadow-nepal-300 text-gray-700 rounded px-10 py-10"
    >
      <a href="/knowledge-center/view_legislation/substations">
        <div class="sm:flex lg:items-center lg:justify-between">
          <div class="min-w-0 flex-1">
            <div class="">
              <div class="mx-auto">
                <div class="group relative">
                  <div class="flex justify-between items-center">
                    <img
                      src="{% static 'assets/images/folder.png' %}"
                      alt=""
                      class="h-1/5 w-1/5 object-cover object-center"
                    />
                    <span
                      class="pr-1 font-semibold flex-1 text-left text-gray-800 px-2"
                      >Substations(EIMI 22)</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div
      class="w-auto bg-gulf-blue-300 text-center shadow shadow-nepal-300 text-gray-700 rounded px-10 py-10"
    >
      <a href="/knowledge-center/view_legislation/fire">
        <div class="sm:flex lg:items-center lg:justify-between">
          <div class="min-w-0 flex-1">
            <div class="">
              <div class="mx-auto">
                <div class="group relative">
                  <div class="flex justify-between items-center">
                    <img
                      src="{% static 'assets/images/folder.png' %}"
                      alt=""
                      class="h-1/5 w-1/5 object-cover object-center"
                    />
                    <span
                      class="pr-1 font-semibold flex-1 text-left text-gray-800 px-2"
                      >Fire Fighting(EIMI 23)</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div
      class="w-auto bg-gulf-blue-300 text-center shadow shadow-nepal-300 text-gray-700 rounded px-10 py-10"
    >
      <a href="/knowledge-center/view_legislation/defective">
        <div class="sm:flex lg:items-center lg:justify-between">
          <div class="min-w-0 flex-1">
            <div class="">
              <div class="mx-auto">
                <div class="group relative">
                  <div class="flex justify-between items-center">
                    <img
                      src="{% static 'assets/images/folder.png' %}"
                      alt=""
                      class="h-1/5 w-1/5 object-cover object-center"
                    />
                    <span
                      class="pr-1 font-semibold flex-1 text-left text-gray-800 px-2"
                      >Defective and Damaged Equipment Insurance & Guarantees(EIMI 24)</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div
      class="w-auto bg-gulf-blue-300 text-center shadow shadow-nepal-300 text-gray-700 rounded px-10 py-10"
    >
      <a href="/knowledge-center/view_legislation/services">
        <div class="sm:flex lg:items-center lg:justify-between">
          <div class="min-w-0 flex-1">
            <div class="">
              <div class="mx-auto">
                <div class="group relative">
                  <div class="flex justify-between items-center">
                    <img
                      src="{% static 'assets/images/folder.png' %}"
                      alt=""
                      class="h-1/5 w-1/5 object-cover object-center"
                    />
                    <span
                      class="pr-1 font-semibold flex-1 text-left text-gray-800 px-2"
                      >Services and Service Equipment(EIMI 25)</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div
      class="w-auto bg-gulf-blue-300 text-center shadow shadow-nepal-300 text-gray-700 rounded px-10 py-10"
    >
      <a href="/knowledge-center/view_legislation/consumers">
        <div class="sm:flex lg:items-center lg:justify-between">
          <div class="min-w-0 flex-1">
            <div class="">
              <div class="mx-auto">
                <div class="group relative">
                  <div class="flex justify-between items-center">
                    <img
                      src="{% static 'assets/images/folder.png' %}"
                      alt=""
                      class="h-1/5 w-1/5 object-cover object-center"
                    />
                    <span
                      class="pr-1 font-semibold flex-1 text-left text-gray-800 px-2"
                      >Consumer's Equipment and installation(EIMI 26)</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div
      class="w-auto bg-gulf-blue-300 text-center shadow shadow-nepal-300 text-gray-700 rounded px-10 py-10"
    >
      <a href="/knowledge-center/view_legislation/lifting">
        <div class="sm:flex lg:items-center lg:justify-between">
          <div class="min-w-0 flex-1">
            <div class="">
              <div class="mx-auto">
                <div class="group relative">
                  <div class="flex justify-between items-center">
                    <img
                      src="{% static 'assets/images/folder.png' %}"
                      alt=""
                      class="h-1/5 w-1/5 object-cover object-center"
                    />
                    <span
                      class="pr-1 font-semibold flex-1 text-left text-gray-800 px-2"
                      >Lifting Equipment(EIMI 27)</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div
      class="w-auto bg-gulf-blue-300 text-center shadow shadow-nepal-300 text-gray-700 rounded px-10 py-10"
    >
      <a href="/knowledge-center/view_legislation/transport">
        <div class="sm:flex lg:items-center lg:justify-between">
          <div class="min-w-0 flex-1">
            <div class="">
              <div class="mx-auto">
                <div class="group relative">
                  <div class="flex justify-between items-center">
                    <img
                      src="{% static 'assets/images/folder.png' %}"
                      alt=""
                      class="h-1/5 w-1/5 object-cover object-center"
                    />
                    <span
                      class="pr-1 font-semibold flex-1 text-left text-gray-800 px-2"
                      >Transport(EIMI 28)</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div
      class="w-auto bg-gulf-blue-300 text-center shadow shadow-nepal-300 text-gray-700 rounded px-10 py-10"
    >
      <a href="/knowledge-center/view_legislation/lpa">
        <div class="sm:flex lg:items-center lg:justify-between">
          <div class="min-w-0 flex-1">
            <div class="">
              <div class="mx-auto">
                <div class="group relative">
                  <div class="flex justify-between items-center">
                    <img
                      src="{% static 'assets/images/folder.png' %}"
                      alt=""
                      class="h-1/5 w-1/5 object-cover object-center"
                    />
                    <span
                      class="pr-1 font-semibold flex-1 text-left text-gray-800 px-2"
                      >Lighting Protection and Arrestors(EIMI 29)</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div
      class="w-auto bg-gulf-blue-300 text-center shadow shadow-nepal-300 text-gray-700 rounded px-10 py-10"
    >
      <a href="/knowledge-center/view_legislation/insulation">
        <div class="sm:flex lg:items-center lg:justify-between">
          <div class="min-w-0 flex-1">
            <div class="">
              <div class="mx-auto">
                <div class="group relative">
                  <div class="flex justify-between items-center">
                    <img
                      src="{% static 'assets/images/folder.png' %}"
                      alt=""
                      class="h-1/5 w-1/5 object-cover object-center"
                    />
                    <span
                      class="pr-1 font-semibold flex-1 text-left text-gray-800 px-2"
                      >Insulation(EIMI 30)</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div style="display: flex;justify-content: center;">
    <a href="view_index">
    <button  style="width: 6rem;height: 3rem;background-color: #020617;margin-top: 20px;border-radius: 1.5rem;" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Back</span>
       
    </button> </a>
</div>
{% endblock %}