{% extends 'admin_layout.html' %} {% load static %} {% block content %}

<div style="margin-bottom: 25px;" class="content-wrapper flex flex-wrap p-2 m-px">
    <a href="/knowledge-center/view_legislation/reports">
    <button  style="width: 16rem;height: 10rem;background-color: #a21caf;margin-right: 20px;margin-bottom: 25px" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Reports(EIMI 1)</span>
       
    </button>
    </a>
    <a href="/knowledge-center/view_legislation/protection">
    <button  style="width: 16rem;height: 10rem;background-color: #65a30d;margin-right: 20px;" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Protection(EIM1 2)</span>
        
    </button>
    </a>
    <a href="/knowledge-center/view_legislation/earthing">
    <button  style="width: 16rem;height: 10rem;background-color: #1e1b4b;margin-right: 20px;" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Earthing(EIMI 3)</span>
       
    </button>
    </a>
    <a href="/knowledge-center/view_legislation/transformers">
    <button  style="width: 16rem;height: 10rem;background-color: #a21caf;margin-right: 20px;margin-bottom: 25px" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Transformers(EIMI 4)</span>
       
    </button>
    </a>
    <a href="/knowledge-center/view_legislation/fuses">
    <button  style="width: 16rem;height: 10rem;background-color: #65a30d;margin-right: 20px;margin-bottom: 25px" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Fuses(EIMI 5)</span>
       
    </button>
    </a>
    <a href="/knowledge-center/view_legislation/imm">
    <button  style="width: 16rem;height: 10rem;background-color:#1e1b4b;margin-right: 20px;" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Instruments, Meters and Metering(EIMI 6)</span>
        
    </button>
    </a>
    <a href="/knowledge-center/view_legislation/tg">
    <button  style="width: 16rem;height: 10rem;background-color:  #a21caf;margin-right: 20px;" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Transformer Gaskets(EIMI 7)</span>
       
    </button>
    </a>
    <a href="/knowledge-center/view_legislation/switchgear">
    <button  style="width: 16rem;height: 10rem;background-color: #65a30d;margin-right: 20px;margin-bottom: 25px" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Switchgear(EIMI 8)</span>
       
    </button> 
    </a>
    <a href="/knowledge-center/view_legislation/por">
    <button  style="width: 16rem;height: 10rem;background-color: #1e1b4b;margin-right: 20px;margin-bottom: 25px" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Post Office Regulations(EIMI 9)</span>
       
    </button>
    </a>
    <a href="/knowledge-center/view_legislation/io">
    <button  style="width: 16rem;height: 10rem;background-color:  #a21caf;margin-right: 20px;" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Insulating Oils(EIMI 10)</span>
        
    </button>
    </a>
    
</div>
<div style="display: flex;justify-content: center;">
    <a href="view_index">
    <button  style="width: 6rem;height: 3rem;background-color: #020617;margin-right: 20px;border-radius: 1.5rem;" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Back</span>
       
    </button> </a>
</div>
{% endblock %}