{% extends 'admin_layout.html' %} {% load static %} {% block content %}

<div style="margin-bottom: 25px;" class="content-wrapper flex flex-wrap p-2 m-px">
    <a href="view_1_10">
    <button  style="width: 16rem;height: 10rem;background-color: #a21caf;margin-right: 20px;margin-bottom: 25px" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Maintanance</span>
       
    </button>
    </a>
    <a href="view_11_20">
    <button  style="width: 16rem;height: 10rem;background-color: #65a30d;margin-right: 20px;" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Drone Technology</span>
        
    </button>
    </a>
    
    
</div>
<div style="display: flex;justify-content: center;">
    <a href="view_knowledge_base">
    <button  style="width: 6rem;height: 3rem;background-color: #020617;margin-right: 20px;border-radius: 1.5rem;" class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center">
        <span class="pr-1 font-semibold flex-1 text-blue-50">Back</span>
       
    </button> </a>
</div>
{% endblock %}