{% extends "admin_layout.html" %}
{% load static %}
{% block content %}
<div class=" m-auto mt-5 justify-content-center ">
  <form class="row rounded py-4 border col-6 m-auto justify-content-center align-content-stretch container" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="m-auto container">
      <div class="row align-content-stretch">
        <h2 class="text-center">Nonconformity Details</h2>
        <span>Created By: {{ nonconformity.created_by }}</span>
        <p>Recipient: {{ nonconformity.created_at }}</p>
        <span>Description: {{ nonconformity.description }}</span>
        <span>Violation Standard Reference: {{ nonconformity.violation_standard_reference }}</span>
        <span>Recommended Corrective Action: {{ nonconformity.recommended_corrective_action }}</span>
        <span>Attachment:  {{notification.is_read}} </span>
      </div>
      <hr>
      {% for field in form %}
      {% if not field.is_hidden %}
        <div class="row align-content-stretch">
            <div class="col-6 pull-right m-auto">    
                {{ field.label_tag }}
                {% if field.help_text %}
                    <sup>{{ field.help_text }}</sup><hr/>
                {% endif %}
                {{ field.errors }}
            </div>
            <div class="col-6 pull-right m-auto">    
                {{ field }}
            </div>
        </div>
        <br>
    {% else %}
        <div class="row align-content-stretch">
            <div class="col-6 pull-right m-auto">    
                {{ field.errors }}
            </div>
            <div class="col-6 pull-right m-auto">    
                {{ field }}
            </div>
        </div>
        <br>
    {% endif %}
{% endfor %}
      <hr>
  
      {% if nonconformity.status.value == 'created' %}
      {% endif %}
  
      <div class="m-auto text-center d-flex align-content-between justify-content-space-between btn-group">
        <label for="accept-radio" class="btn btn-warning rounded mx-2">
          <input id="accept-radio" type="radio" name="status" value="accepted" onchange="submitForm()">
          Accept
        </label>
  
        <label for="reject-radio" class="btn btn-danger rounded mx-2">
          <input id="reject-radio" type="radio" name="status" value="rejected" onchange="submitForm()">
          Reject
        </label>
  
        <label for="pending-radio" class="btn btn-info rounded mx-2">
          <input id="pending-radio" type="radio" name="status" value="pending" onchange="submitForm()">
          Pending
        </label>
  
        <label for="resolved-radio" class="btn btn-success rounded mx-2">
          <input id="resolved-radio" type="radio" name="status" value="resolved" onchange="submitForm()">
          Mark as Resolved
        </label>
      </div>
    </div>
    <input type="hidden"name='is_read'value='True' >
  </form>
  
  <script>
    function submitForm() {
      document.querySelector('form').submit();
    }
  </script>
</div>



{% endblock %}