{% extends 'admin_layout.html' %} {% load static %} {% block content %}

<div class="content-wrapper flex flex-wrap p-2 m-px">
  <div class="grid grid-cols-3 gap-4">
    <div
      class="w-auto bg-gray-200 shadow shadow-nepal-300 text-gray-700 rounded px-2 py-2"
    >
      <div class="sm:flex lg:items-center lg:justify-between">
        <div class="min-w-0 flex-1">
          <div class="">
            <div class="mx-auto">
              <div class="group relative">
                <div
                  style="background-color: #a16207"
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-40"
                >
                <a href="view_legislation">
                  <img
                    src="{% static 'assets/images/financial.png' %}"
                    alt=""
                    class="h-full w-full object-contain lg:h-full lg:w-full"
                  />
                </a>
                </div>
                <div class="mt-4 flex justify-center">
                  <div class="w-full">
                    <div
                      class="dropdown-group inline-block w-full text-blue-50"
                    >
                      <a href="view_legislation">
                        <button
                          class="w-full bg-gulf-blue-600 hover:bg-gulf-blue-800 outline-none focus:outline-none border px-3 py-1 rounded flex items-center"
                        >
                          <span class="pr-1 font-semibold flex-1 text-blue-50"
                            >ACE</span
                          >
                          <span class="text-blue-50"> </span>
                        </button>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- More products... -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="w-auto bg-gray-200 shadow shadow-nepal-300 text-gray-700 rounded px-2 py-2"
    >
      <div class="sm:flex lg:items-center lg:justify-between">
        <div class="min-w-0 flex-1">
          <div class="">
            <div class="mx-auto">
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-40"
                >
                <a href="view_policies">
                  <img
                    src="{% static 'assets/images/compliant.png' %}"
                    alt=""
                    class="h-full w-full object-center lg:h-full lg:w-full"
                  />
                </a>
                </div>
                <div class="mt-4 flex justify-center">
                  <div class="w-full">
                    <div
                      class="dropdown-group inline-block w-full text-blue-50"
                    >
                      <a href="view_policies">
                        <button
                          class="w-full bg-gulf-blue-600 hover:bg-blue-800 outline-none focus:outline-none border px-3 py-1 rounded flex items-center"
                        >
                          <span class="pr-1 font-semibold flex-1 text-blue-50"
                            >Non Conformity</span
                          >
                          <span class="text-blue-50"> </span>
                        </button>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- More products... -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="w-auto bg-gray-200 shadow shadow-nepal-300 text-gray-700 rounded px-2 py-2"
    >
      <div class="sm:flex lg:items-center lg:justify-between">
        <div class="min-w-0 flex-1">
          <div class="">
            <div class="mx-auto">
              <div class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-40"
                >
                <a href="/users/users-index">
                  <img
                    src="{% static 'assets/images/people.png' %}"
                    alt=""
                    class="h-full w-full object-cover object-center lg:h-full lg:w-full"
                  />
                </a>
                </div>
                <div class="mt-4 flex justify-center">
                  <div class="w-full">
                    <div
                      class="dropdown-group inline-block w-full text-blue-50"
                    >
                      <a href="/users/users-index">
                        <button
                          class="w-full bg-gulf-blue-600 hover:bg-gulf-blue-800 outline-none focus:outline-none border px-3 py-1 rounded flex items-center"
                        >
                          <span class="pr-1 font-semibold flex-1 text-blue-50"
                            >Users</span
                          >
                          <span class="text-blue-50">
                            {% comment %}
                            <svg
                              class="fill-current h-4 w-4 transform group-hover:-rotate-180 transition duration-150 ease-in-out"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                            >
                              <path
                                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                              />
                            </svg>
                            {% endcomment %}
                          </span>
                        </button>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- More products... -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
