{% extends 'admin_layout.html' %} {% load static %} {% block content %}

<div class="content-wrapper flex flex-wrap p-2 m-px">
  <div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    {% for app in apps %}
    <div
      class="w-auto shadow shadow-nepal-300 bg-nepal-50 text-gray-700 rounded px-10 py-2"
    >
      <a href="{{app.url}}">
        <div class="sm:flex lg:items-center lg:justify-between">
          <div class="min-w-0 flex-1">
            <div class="">
              <div class="mx-auto">
                <div class="group relative">
                  <div
                    class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-50 lg:h-40"
                  >
                    <img
                      src="{% static app.iconUrl %}"
                      alt=""
                      class="h-full w-full object-contain lg:h-full lg:w-full"
                    />
                  </div>
                  <div class="mt-4 flex justify-center">
                    <div class="w-full">
                      <div
                        class="dropdown-group inline-block w-full text-blue-900"
                      >
                        <button
                          class="w-full outline-none focus:outline-none px-3 py-1 rounded flex items-center"
                        >
                          <span class="pr-1 font-semibold flex-1 text-blue-900"
                            >{{app.title}}</span
                          >
                          <span class="text-blue-900"> </span>
                        </button>
                      </div>
                    </div>
                  </div>

                  <!-- More products... -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
