{% extends "admin_layout.html" %} 
{% load static %}
{% block content %}

<div class="mx-auto py-6">
    <div class="grid grid-cols-5 gap-4">
        <div class="w-auto bg-gradient-to-r from-gulf-blue-100 to-gulf-blue-300 drop-shadow-md shadow shadow-gulf-blue-300 text-gulf-blue-900 rounded px-2 py-2">
            <div class="sm:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                    <div class="text-center text-lg font-bold text-gulf-blue-950 sm:truncate sm:tracking-tight">
                        REVENUE ASSURANCE
                    </div>
                    <div class="mt-2">
                        <a href="../../ace/user/pending_sectionhead.php?source=home">
                            <div class="border border-gulf-blue-200 hover:bg-gulf-blue-400 rounded-lg px-3 py-1 justify-between items-center sm:mt-0 sm:flex-row sm:flex-wrap">
                                <div class="col-xl col-sm text-center mb-xl-0 mb-4">
                                    <div class="card">
                                      <div class="card-body p-2">
                                        <div class="row">
                                          <div class="col-8">
                                            <div class="numbers">
                                              <p class="text-xs mb-0 text-capitalize font-weight-bold">
                                                Points Visited
                                              </p>
                                              <h6 class="font-weight-bolder mb-0">600</h6>
                                            </div>
 
                                            <div class="overflow-hidden bg-blue-50 h-1.5 rounded-full w-full">
                                                <span
                                                  class="h-full bg-gulf-blue-900 w-full block rounded-full"
                                                  style="width: 62%"
                                                ></span>
                                              </div>
                                            <p class="text-xs text-muted mt-2 mb-0">Monthly Target:1000</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-auto bg-gradient-to-r from-jade-100 to-jade-300 drop-shadow-md shadow shadow-jade-300 text-jade-900 rounded px-2 py-2">
            <div class="sm:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                    <div class="text-center text-lg font-bold text-jade-900 sm:truncate sm:tracking-tight">
                        GROWTH
                    </div>
                    <div class="mt-2">
                        <a href="../../ace/user/pending_sectionhead.php?source=home">
                            <div class="border border-jade-200 hover:bg-jade-400 rounded-lg px-3 py-1 justify-between items-center sm:mt-0 sm:flex-row sm:flex-wrap">
                                <div class="col-xl col-sm text-center mb-xl-0 mb-4">
                                    <div class="card">
                                      <div class="card-body p-2">
                                        <div class="row">
                                          <div class="col-8">
                                            <div class="numbers">
                                              <p class="text-xs mb-0 text-capitalize font-weight-bold">
                                                Connected
                                              </p>
                                              <h6 class="font-weight-bolder mb-0">900</h6>
                                            </div>
 
                                            <div class="overflow-hidden bg-jade-50 h-1.5 rounded-full w-full">
                                                <span
                                                  class="h-full bg-jade-900 w-full block rounded-full"
                                                  style="width: 78%"
                                                ></span>
                                              </div>
                                            <p class="text-xs text-muted mt-2 mb-0">YTD Target:1000</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-auto bg-gradient-to-r from-royal-heath-100 to-royal-heath-300 drop-shadow-md shadow shadow-royal-heath-300 text-royal-heath-900 rounded px-2 py-2">
            <div class="sm:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                    <div class="text-center text-lg font-bold text-royal-heath-950 sm:truncate sm:tracking-tight">
                        INSPECTIONS
                    </div>
                    <div class="mt-2">
                        <a href="../../ace/user/pending_sectionhead.php?source=home">
                            <div class="border border-royal-heath-200 hover:bg-royal-heath-400 rounded-lg px-3 py-1 justify-between items-center sm:mt-0 sm:flex-row sm:flex-wrap">
                                <div class="col-xl col-sm text-center mb-xl-0 mb-4">
                                    <div class="card">
                                      <div class="card-body p-2">
                                        <div class="row">
                                          <div class="col-8">
                                            <div class="numbers">
                                              <p class="text-xs mb-0 text-capitalize font-weight-bold">
                                                Inspected
                                              </p>
                                              <h6 class="font-weight-bolder mb-0">100</h6>
                                            </div>
 
                                            <div class="overflow-hidden bg-royal-heath-50 h-1.5 rounded-full w-full">
                                                <span
                                                  class="h-full bg-royal-heath-900 w-full block rounded-full"
                                                  style="width: 80%"
                                                ></span>
                                              </div>
                                            <p class="text-xs text-muted mt-2 mb-0">YTD Target:1000</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-auto bg-gradient-to-r from-gulf-blue-100 to-gulf-blue-300 drop-shadow-md shadow shadow-gulf-blue-300 text-gulf-blue-900 rounded px-2 py-2">
            <div class="sm:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                    <div class="text-center text-lg font-bold text-gulf-blue-950 sm:truncate sm:tracking-tight">
                        FAULTS
                    </div>
                    <div class="mt-2">
                        <a href="../../ace/user/pending_sectionhead.php?source=home">
                            <div class="border border-gulf-blue-200 hover:bg-gulf-blue-400 rounded-lg px-3 py-1 justify-between items-center sm:mt-0 sm:flex-row sm:flex-wrap">
                                <div class="col-xl col-sm text-center mb-xl-0 mb-4">
                                    <div class="card">
                                      <div class="card-body p-2">
                                        <div class="row">
                                          <div class="col-8">
                                            <div class="numbers">
                                              <p class="text-xs mb-0 text-capitalize font-weight-bold">
                                                Unresolved
                                              </p>
                                              <h6 class="font-weight-bolder mb-0">700</h6>
                                            </div>
 
                                            <div class="overflow-hidden bg-gulf-blue-50 h-1.5 rounded-full w-full">
                                                <span
                                                  class="h-full bg-gulf-blue-900 w-full block rounded-full"
                                                  style="width: 30%"
                                                ></span>
                                              </div>
                                            <p class="text-xs text-muted mt-2 mb-0">YTD Target:1000</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-auto bg-gradient-to-r from-jade-100 to-jade-300 drop-shadow-md shadow shadow-jade-300 text-jade-900 rounded px-2 py-2">
            <div class="sm:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                    <div class="text-center text-lg font-bold text-jade-950 sm:truncate sm:tracking-tight">
                        MAINTENANCE
                    </div>
                    <div class="mt-2">
                        <a href="../../ace/user/pending_sectionhead.php?source=home">
                            <div class="border border-jade-200 hover:bg-jade-400 rounded-lg px-3 py-1 justify-between items-center sm:mt-0 sm:flex-row sm:flex-wrap">
                                <div class="col-xl col-sm text-center mb-xl-0 mb-4">
                                    <div class="card">
                                      <div class="card-body p-2">
                                        <div class="row">
                                          <div class="col-8">
                                            <div class="numbers">
                                              <p class="text-xs mb-0 text-capitalize font-weight-bold">
                                                Maintained
                                              </p>
                                              <h6 class="font-weight-bolder mb-0">950</h6>
                                            </div>
 
                                            <div class="overflow-hidden bg-jade-50 h-1.5 rounded-full w-full">
                                                <span
                                                  class="h-full bg-jade-900 w-full block rounded-full"
                                                  style="width: 50%"
                                                ></span>
                                              </div>
                                            <p class="text-xs text-muted mt-2 mb-0">YTD Target:1000</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-5 gap-4 mt-10">
        <div class="w-auto bg-gulf-blue-300 drop-shadow-md shadow shadow-gulf-blue-300 text-gray-900 rounded px-2 py-2">
            <div class="sm:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                    <div class="text-center text-lg font-bold sm:truncate sm:tracking-tight">
                        Top PBNC Customers
                    </div>
                    <div style="height: 14rem;" class="mt-2 h-20 overflow-auto">
                        <a href="../../ace/user/pending_sectionhead.php?source=home">
                            <table class="table-auto">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Malcolm Lockyer</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>The Eagles</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Earth, Wind, and Fire</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>Malcolm Lockyer</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>The Eagles</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>Earth, Wind, and Fire</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>Malcolm Lockyer</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>The Eagles</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Earth, Wind, and Fire</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>Malcolm Lockyer</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>The Eagles</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>Earth, Wind, and Fire</td>
                                    <td>$10000</td>
                                  </tr>
                                </tbody>
                              </table>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-auto bg-royal-heath-200 drop-shadow-md shadow shadow-royal-heath-300 text-gray-900 rounded px-2 py-2">
            <div class="sm:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                    <div class="text-center text-lg font-bold sm:truncate sm:tracking-tight">
                        Unresolved Power Outages
                    </div>
                    <div style="height: 14rem;" class="mt-2 h-20 overflow-auto">
                        <a href="../../ace/user/pending_sectionhead.php?source=home">
                            <table class="table-auto">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Malcolm Lockyer</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>The Eagles</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Earth, Wind, and Fire</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>Malcolm Lockyer</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>The Eagles</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>Earth, Wind, and Fire</td>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>Malcolm Lockyer</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>The Eagles</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Earth, Wind, and Fire</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>Malcolm Lockyer</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>The Eagles</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>Earth, Wind, and Fire</td>
                                  </tr>
                                </tbody>
                              </table>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-auto bg-citron-200 drop-shadow-md shadow shadow-citron-300 text-gray-900 rounded px-2 py-2">
            <div class="sm:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                    <div class="text-center text-lg font-bold text-gulf-blue-950 sm:truncate sm:tracking-tight">
                        Inspection breakdown
                    </div>
                    <div style="height: 14rem;" class="mt-2 h-20 overflow-auto">
                        <a href="../../ace/user/pending_sectionhead.php?source=home">
                            <canvas id="Inspection"></canvas>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-auto bg-gulf-blue-200 drop-shadow-md shadow shadow-gulf-blue-300 text-gulf-blue-900 rounded px-2 py-2">
            <div class="sm:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                    <div class="text-center text-lg font-bold text-gulf-blue-950 sm:truncate sm:tracking-tight">
                        Top Debtors
                    </div>
                    <div style="height: 14rem;" class="mt-2 h-20 overflow-auto">
                        <a href="../../ace/user/pending_sectionhead.php?source=home">
                            <table class="table-auto">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Malcolm Lockyer</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>The Eagles</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Earth, Wind, and Fire</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>Malcolm Lockyer</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>The Eagles</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>Earth, Wind, and Fire</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>Malcolm Lockyer</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>The Eagles</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Earth, Wind, and Fire</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>Malcolm Lockyer</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>The Eagles</td>
                                    <td>$10000</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>Earth, Wind, and Fire</td>
                                    <td>$10000</td>
                                  </tr>
                                </tbody>
                              </table>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-auto bg-citron-200 drop-shadow-md shadow shadow-citron-300 text-gray-900 rounded px-2 py-2">
            <div class="sm:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                    <div class="text-center text-lg font-bold text-gulf-blue-950 sm:truncate sm:tracking-tight">
                        Maintanance breakdown
                    </div>
                    <div style="height: 14rem;" class="mt-2 h-20 overflow-auto">
                        <a href="../../ace/user/pending_sectionhead.php?source=home">
                            <canvas id="Maintanance"></canvas>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-2 mt-4 gap-4">
        <div class="w-auto bg-gray-200 shadow shadow-nepal-300 text-gray-700 rounded px-2 py-2">
            <div class="sm:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                    <div class="text-center text-lg font-bold text-nepal-950 sm:truncate sm:tracking-tight">
                        ACE MONTHLY CHART
                    </div>
                    <div>
                        <canvas id="aceChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-auto bg-gray-200 shadow shadow-nepal-300 text-gray-700 rounded px-2 py-2">
            <div class="sm:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                    <div class="text-center text-lg font-bold text-nepal-950 sm:truncate sm:tracking-tight">
                        TENDER MONTHLY CHART
                    </div>
                    <div>
                        <canvas id="tenderChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
