<!doctype html>
<html>
    <head>
        <!-- Use "static" template tag and configure STATIC_URL as usual. -->
        <link rel="stylesheet" href="" />
        <style>
            body {
                background-color: coral;
            }
            .btn {
                background-color: blue; 
                padding: 20px;
            }
            .ps {
                margin-top: 100px;
            }
        </style>
    </head>

    <body>
        <h1>{{ title }}</h1>
        <button class="btn">{{ action }}</button>
        <p class="ps">welcome to this series</p>
    </body>
</html>