{% extends "admin_layout.html" %}
{% load static %}
{% load humanize %}
{% load custom_tags %}
{% block styles %}
  <link rel="stylesheet"
        href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  <style>.dataTables_wrapper .dataTables_length select { width: 4rem; }</style>
{% endblock %}
{% block content %}

{% include 'appraisal/sections_header.html' with section_header="Section 4: Performance Progress Reviews" %}

{% include "appraisal/appraisee_info_component.html" with appraisee_object=appraisee_object %}


<div class="flex gap-4">
    <div class="flex-1">
    {% include "./progress_review/index.html" with performance_review_objects=performance_review_objects %}
    </div>
</div>

<div class="mt-6">
    {% include "appraisal/approval/detail.html" with stages=stages last_stage_num=last_stage_number %}
</div>


{% endblock %}
