{% extends "admin_layout.html" %}
{% load static %}
{% load humanize %}{% load custom_tags %}

{% block styles %}
<link  rel="stylesheet"  href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
<style>
  .dataTables_wrapper .dataTables_length select {
    width: 4rem;
  }
</style>
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="grid grid-cols-1">
    <div class="bg-gulf-blue-100 shadow-lg rounded-lg p-6">
     
       <h3 class="text-center font-bold  mb-4">All pettycashs</h3>
      <div class=" grid grid-cols-4 container text-center ">
{#        {% comment %} <a href="{% url 'nonconformity:checklist' %}" class="bg-blue-500 hover:bg-blue-700 inline-block rounded-full mx-3 text-white py-2 px-4 rounded">Create from checklist</a> {% endcomment %}#}
          <a href="/pettycash/print_report_csv/{{ report }}" class="bg-green-500 hover:bg-green-900 inline-block rounded-full mx-3 text-white py-2 px-4 rounded">CSV report</a>
{#          <a href="/pettycash/print_report_pdf/{{ report }}" class="bg-yellow-500 hover:bg-red-900 inline-block rounded-full mx-3 text-white py-2 px-4 rounded">PDF report</a>#}
      </div>
      <br> <table id="nonconformity" class="table table-striped stripe table-bordered">
        <thead>
          <tr>
            <tr>
                <th>pettycash ID</th>
                <th>pettycash Details</th>
                <th>Amount</th>
                
                <th>Requested By</th>
                <th>Created At</th>
                <th>Section</th>
              <th>Allocation Code of Expenditure</th>
              <th>Status</th>
          </tr>
        </thead>
        <tbody>
            {% for pettycash in pettycashs %}
            <tr class="h-1">
                <td><a class="text-blue-500" href="/pettycash/pettycash_detail/{{pettycash.petty_id}}">{{ pettycash.petty_id|default_if_none:'' }}</a></td>
                <td>{{ pettycash.details_of_expenditure }}</td>
              <td>{{ pettycash.amount }}</td>

            <td>{% if pettycash.requested_by == user %} You {% else %} {{pettycash.requested_by.get_full_name }} {% endif %}</td>
              <td>{{ pettycash.date_created }}</td>
              <td>{{ pettycash.section }}</td>
            <td>{{ pettycash.section.code }}</td>
            <td>{{ pettycash.process.approval_set.last|default_if_none:'' }}</td>
              {% comment %} <td>{{ pettycash.process }}</td> {% endcomment %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    // Initialize the DataTable with options and Tailwind CSS classes
    $("#nonconformity").DataTable({
      // Set the number of rows to display per page
      "pageLength": 10,
  
      // Enable sorting on the specified columns
      "columnDefs": [
        { "orderable": true, "targets": [0, 1, 2] }
      ],
  
      // Enable searching within the table
      "searching": true,
  
      // Display the DataTable in a responsive manner
      "responsive": true,
  
     
    });
  });
</script>
{% endblock %}