{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}
<div style= "background-color: rgb(251 207 232);" class="flex justify-between items-center p-3">
  <h1 class="text-2xl text-black font-bold ">Commercial Processes</h1>

  <div class="text-black mr-4">(Clause 4.4)</div>

</div>
<div class="grid grid-cols-2 gap-4 row-span-2 mt-6">
   <div class="flex justify-center">
    <a href="{%url 'client-processes'%}" class="  w-full text-3xl rounded-xl bg-blue-300 m-3  py-3 px-5"><strong>Client Interaction Processes</strong></a>
   </div> 
   <div class="flex justify-center">
    <a href="{%url 'revenue-processes'%}" class="  w-full text-3xl rounded-xl bg-green-300  m-3 py-3 px-5"><strong>Revenue Assuarance Processes</strong></a>
   </div>   
  </div>

  <div class="flex justify-center">
    <a href="{%url 'payment-processes'%}" class=" w-1/2 text-3xl rounded-xl bg-yellow-300 mt-4 py-3 px-5"><strong>Payment Processes</strong></a>
   </div>

   <div class="bottom-0 left-0 right-0 mt-20 w-40 flex justify-left">
    <a href="{%url 'file_search'%}"><button class="bg-black text-white font-bold px-4 py-2 rounded-full">Back</button></a>
  </div>
  {%endblock%}