{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}
<div class="flex justify-between items-center p-3">
      <h1 class="text-2xl text-black font-bold ">Maintenance Processes</h1>

      <div class="text-md mr-4 text-2xl font-semibold">(Clause 4.2)
      </div>
</div>

<div class="grid grid-cols-3 gap-6 mt-4">
      <a href="{% static 'documents\Engineering\maintenance\CABLE TRENCHING AND LAYING.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Cable trenching and laying</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Engineering\maintenance\Calibration process.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Calibration</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static  'documents\Engineering\maintenance\CB MAINTENANCE PROCESS (003).pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">CB maintenance</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Engineering\maintenance\GIS Data collection process.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">GIS Data collection</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Engineering\maintenance\Goods or service receiving process.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Goods or service receiving</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static  'documents\Engineering\maintenance\HV Switching  Authorisation Process.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">HV Switching  Authorisation</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static  'documents\Engineering\maintenance\Maintenance planning process.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Maintenance planning</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Engineering\maintenance\map digitising process.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Map digitising</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Engineering\maintenance\Plant maintenance process.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Plant maintenance</span></button>
                  </div>
            </div>
      </a>

      <a
            href="{% static 'documents\Engineering\maintenance\POLE REPLACEMENT PROCESS.pdf.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Pole replacement</span></button>
                  </div>

            </div>
      </a>

      <a href="{% static 'documents\Engineering\maintenance\SUBSTATION INSPECTION.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Substation maintenance</span></button>
                  </div>

            </div>
      </a>



      <a href="{% static 'documents\Engineering\maintenance\Vehicle hiring process.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Vehicle hiring</span></button>
                  </div>
            </div>
      </a>

      <a
            href="{% static 'documents\Engineering\maintenance\ZEDTC HRE MAINS LINE INSPECTION.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Mains line inspection</span></button>
                  </div>

            </div>
      </a>

      <a href="{% static 'documents\Engineering\maintenance\ZEDTC HRE MAINS WAYLEAVE.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Mains wayleave</span></button>
                  </div>

            </div>
      </a>


</div>

<div style="display: flex;justify-content: start;" class="mt-6">
      <a href="javascript:history.back()">
            <button style="width: 6rem;height: 3rem;background-color: #020617;margin-right: 20px"
                  class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded-xl flex items-center">
                  <span class="pr-1 font-bold flex-1 text-blue-50">Back</span>

                  </span></button> </a>

</div>





{%endblock %}