{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}


    <div style= "background-color: rgb(251 207 232);)" class="flex justify-between items-center p-3">
      <h1 class="text-2xl text-black font-bold ">Management Processes</h1>
      
      <div class="text-black mr-4">(Clause 4.4)</div>
  
    </div>

<div class="grid grid-cols-3 gap-4">
    <div class="mt-10"><button type="button"><a class="rounded-xl bg-blue-300 py-4 px-2 m-3   " tabindex="-1"
                href="{% static 'documents\HR\Disciplinary Process.pdf' %}">Management Review</a></button></div>
    <div class="mt-10"><button type="button"><a class="rounded-xl bg-yellow-300 py-4 px-2 m-3 " tabindex="-1"
                href="{% static 'documents\HR\Asset Acquisition Process Corrected.pdf' %}">Waste Management
            </a></button></div>

    <div class="mt-10"><button type="button"><a class="rounded-xl bg-green-300 py-4 px-2 m-3  " tabindex="-1"
                href="{% static 'documents\HR\DEATH LEVY PROCESS.pdf' %}">Internal Audit
            </a></button>
   
    <div class=" place-content-end">
        <div class="mt-4"><button type="button"><a class="rounded-xl flex bg-green-300 py-4 px-2 m-3   " tabindex="-1"
                    href="{% static 'documents\HR\Disciplinary Process.pdf' %}">Non-Conformities and Corrective Action Reporting </a></button></div>
         </div>
         <div class="mt-4"><button type="button"><a class="rounded-xl bg-green-300 py-4 px-2 m-3   " tabindex="-1"
            href="{% static 'documents\HR\Disciplinary Process.pdf' %}">Risk Management</a><button></div>
        </div>
         
        </div>
   


  <div class="bottom-0 left-0 right-0 mt-20 w-40 flex justify-left">
    <a href="{%url 'file_search'%}"><button class="bg-black text-white font-bold px-4 py-2 rounded-full">Back</button></a>
  </div>

{%endblock %}