{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}
<div class="flex justify-between items-center p-3">
      <h1 class="text-2xl text-black font-bold ">Planning Processes</h1>

      <div class="text-md mr-4 text-2xl font-semibold">(Clause 4.2)
      </div>
</div>

<div class="grid grid-cols-3 gap-6 mt-4">
      <a href="{% static 'documents\Engineering\planning\Distribution losses analysis.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Distribution Losses Analysis</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Engineering\planning\Change process.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Change process</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static  'documents\Engineering\planning\DRAWING OFFICE  DRAUGHTING PROCESS.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Draughting process</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Engineering\planning\DRAWING OFFICE  WAYLEAVES PROCESSING PROCESS.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Wayleave processing</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Engineering\planning\DRAWING OFFICE BUILDING PLANS PROCESSING.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Building plans</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static  'documents\Engineering\planning\DRAWING OFFICE MAINS CLEARANCE ISSUING PROCESS.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Mains clearance issuing</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static  'documents\Engineering\planning\DRAWING OFFICE SUBDIVISIONS PROCESSING PROCESS.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Subdivisions processing</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Engineering\planning\Fault Analysis Process.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Fault analysis</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Engineering\planning\GIS asset construction process.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> GIS asset construction</span></button>
                  </div>
            </div>
      </a>

      <a
            href="{% static 'documents\Engineering\planning\Grid Impact Assessment for connection of Independent Power Producers-signed.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Grid Impact Assessment</span></button>
                  </div>

            </div>
      </a>

      <a href="{% static 'documents\Engineering\planning\Monthly Engineering Report Consolidation Process.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Engineering Report Consolidation</span></button>
                  </div>

            </div>
      </a>



      <a href="{% static 'documents\Engineering\planning\New Development Reticulation Design Process-signed.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">New Development Reticulation</span></button>
                  </div>
            </div>
      </a>

      <a
            href="{% static 'documents\Engineering\planning\Newpoint of supply and uprates quotation process-signed.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> Newpoint of supply and uprates</span></button>
                  </div>

            </div>
      </a>

      <a href="{% static 'documents\Engineering\planning\PSIP Budgeting Process.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl"> PSIP Budgeting</span></button>
                  </div>

            </div>
      </a>


      <a href="{% static 'documents\Engineering\planning\System development planning process.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">System development planning </span></button>
                  </div>
            </div>
      </a>

</div>

<div style="display: flex;justify-content: start;" class="mt-6">
      <a href="javascript:history.back()">
            <button style="width: 6rem;height: 3rem;background-color: #020617;margin-right: 20px"
                  class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded-xl flex items-center">
                  <span class="pr-1 font-bold flex-1 text-blue-50">Back</span>

                  </span></button> </a>

</div>





{%endblock %}