{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}
<div class="flex justify-between items-center p-3">
      <h1 class="text-2xl text-black font-bold ">Revenue assuarance Processes</h1>

      <div class="text-md mr-4 text-2xl font-semibold">(Clause 4.2)
      </div>
</div>

<div class="grid grid-cols-3 gap-6 mt-4">
      <a href="{% static 'documents\Commercial\revenue assuarance\Advertising Process Flow.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Advertising process</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Commercial\revenue assuarance\Clear Credit Token.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Clear credit token</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static  'documents\Commercial\revenue assuarance\Clear Tamper Token.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Clear tamper token</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Commercial\revenue assuarance\Fault Handling process flow.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Fault handling</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Commercial\revenue assuarance\Debtors Analysis Process Flow.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Debtors analysis</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static  'documents\Commercial\revenue assuarance\Faulty meter replacement process.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Faulty meter replacement</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static  'documents\Commercial\revenue assuarance\MD revenue assurance process.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">MD revenue assurance</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Commercial\revenue assuarance\Meter reading and billing process.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Meter reading and billing</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Commercial\revenue assuarance\NET METERING Process flow.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Net metering</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Commercial\revenue assuarance\post paid revenue Assurance  process.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Post paid revenue assurance</span></button>
                  </div>

            </div>
      </a>

      <a href="{% static 'documents\Commercial\revenue assuarance\Prepaid revenue assurance process.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Prepaid revenue assurance</span></button>
                  </div>

            </div>
      </a>



      <a href="{% static 'documents\Commercial\revenue assuarance\Reimbursement Token Process.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Reimbursement token</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Commercial\revenue assuarance\Revenue Collection.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Revenue collection</span></button>
                  </div>

            </div>
      </a>

      <a href="{% static 'documents\Commercial\revenue assuarance\Sales Analysis Process Flow.pdf' %}">
            <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Sales analysis</span></button>
                  </div>

            </div>
      </a>


      <a href="{% static 'documents\Commercial\revenue assuarance\Token Cancellation process.pdf' %}">
            <div
                  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Token cancellation</span></button>
                  </div>
            </div>
      </a>

      <a href="{% static 'documents\Commercial\revenue assuarance\Token Request (Fault Maintenance)  Process.pdf' %}">
            <div
                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold">
                  <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3 text-2xl">Token request (fault maintenance)</span></button>
                  </div>

            </div>
      </a>


</div>

<div style="display: flex;justify-content: start;" class="mt-6">
      <a href="javascript:history.back()">
            <button style="width: 6rem;height: 3rem;background-color: #020617;margin-right: 20px"
                  class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded-xl flex items-center">
                  <span class="pr-1 font-bold flex-1 text-blue-50">Back</span>

                  </span></button> </a>

</div>





{%endblock %}