<!--users/templates/quotations/index.html-->
{% extends 'admin_layout.html' %} {% block styles %}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"
/>
<style>
  .dataTables_wrapper .dataTables_length select {
    width: 4rem;
  }
</style>
{% endblock styles %} {% block content %}
<div class="content-wrapper">
  <div
    class="bg-gulf-blue-100 shadow shadow-gulf-blue-300 text-gulf-blue-900 rounded px-2 py-2"
  >
    <div class="flex justify-between items-center mb-5">
      <span class="text-lg font-semibold">Users</span>
      <div class="flex justify-evenly items-center">
        <select id="region_filter" class="m-2 py-2 px-4 rounded text-gulf-blue-900">
          <option value="">All Regions</option>
          {% for region in regions %}
            <option value="{{ region.id }}">{{ region.region }}</option>
          {% endfor %}
        </select>
        <a
          href="/users/user/create"
          class="m-2 bg-gulf-blue-600 hover:bg-gulf-blue-800 text-white font-bold py-2 px-4 rounded"
        >
          Create User
        </a>
        <a href="{% url 'delegation_dashboard' %}" class="bg-blue-600 text-white px-4 py-2 rounded">
          Role Delegation
        </a>
        <a
          id="active_users"
          class="m-2 bg-gulf-blue-600 hover:bg-gulf-blue-800 text-white font-bold py-2 px-4 rounded"
        >
          Active Users
        </a>
        <a
          id="inactive_users"
          class="m-2 bg-gulf-blue-600 hover:bg-gulf-blue-800 text-white font-bold py-2 px-4 rounded"
        >
          Inactive Users
        </a>
      </div>
    </div>
    <table id="users_index" class="display" style="width: 100%">
      <thead>
        <tr>
          <th>Username</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Cost Center</th>
          <th>Region</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody></tbody>
      <tfoot>
        <tr>
          <th>Username</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Cost Center</th>
          <th>Region</th>
          <th>ACTION</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<!-- Buttons JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<!-- PDFMake (for PDF export) -->
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<!-- JSZip (for Excel export) -->
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script>

  $(document).ready(function () {
    var table = $("#users_index").DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": "/users/datatables",
        "type": "GET"
      },
      columns: [
        {
          data: "username",
        },
        {
          data: "first_name",
        },
        {
          data: "last_name",
        },
        {
          data: "email",
        },
        {
          data: "cost_center",
        },
        {
          data: "region",
        },
        {
          data: "id",
          orderable: false,
          searchable: false,
          render: function (data, type, row, meta) {
            let block_button = row.active ? `<a type="button" class="btn btn-danger" href='/users/deactivate_user?i=${row.id}' >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM4 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 10.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
            </svg>
            </a>` : `<a type="button" class="btn btn-success" href='/users/activate_user?i=${row.id}' >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
              </svg>
            </a>`;

            return `
            <div class="flex justify-evenly items-center">
              <a type="button" class="btn btn-info" href='/users/user/update?i=${row.id}' >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                </svg>                
              </a>
              <a type="button" class="btn btn-secondary" href='/users/user/reset?i=${row.id}' >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 119 0v3.75M3.75 21.75h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H3.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                </svg>                
              </a>
              ${block_button}
            </div>
              `;
          },
        }
      ],
      order: [[5, 'desc']]
    });
    $("#active_users").on("click", function () {
      table.ajax.url("/users/datatables?active=True").load();
    });
    $("#inactive_users").on("click", function () {
      table.ajax.url("/users/datatables?active=False").load();
    });
    $("#region_filter").on("change", function () {
      table.ajax.url("/users/datatables?region=" + $(this).val()).load();
    });
  });
</script>
{% endblock scripts %}
