<!--users/templates/users/add_user.html-->
{% extends 'admin_layout.html' %}
{% load static %}
{% load custom_filters %}
<style>
  .google-visualization-orgchart-linebottom {
    border-bottom: 1px solid #3388dd;
    height: 2rem;
  }
  .google-visualization-orgchart-lineleft {
    border-left: 1px solid #3388dd;
    height: 2rem;
  }
</style>
{% block content %}
  <div class="content-wrapper">
    <div class="bg-gulf-blue-100 shadow shadow-gulf-blue-300 text-gulf-blue-900 rounded px-2 py-2">
      <form id="user_form" method="post">
        <input type="hidden" name="user_id" value="{{ user.id }}" />
        {% csrf_token %}
        <div class="space-y-12 px-5 py-5">
          <div class="mt-10 border-b border-gulf-blue-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gulf-blue-900">User Information</h2>
            <p class="mt-1 text-sm leading-6 text-gulf-blue-900">Update relevant fields.</p>
            <div class="mt-10 grid grid-cols-3 gap-4">
              <div>
                <label for="firstname"
                       class="block text-sm font-medium leading-6 text-gray-900">First name</label>
                <div class="mt-2">
                  <input type="text"
                         name="firstname"
                         id="firstname"
                         value="{{ user.firstname }}"
                         autocomplete="firstname"
                         class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                </div>
              </div>
              <div>
                <label for="lastname"
                       class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
                <div class="mt-2">
                  <input type="text"
                         name="lastname"
                         id="lastname"
                         value="{{ user.lastname }}"
                         autocomplete="family-name"
                         class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                </div>
              </div>
              <div>
                <label for="username"
                       class="block text-sm font-medium leading-6 text-gray-900">Username</label>
                <div class="mt-2">
                  <input type="text"
                         name="username"
                         id="username"
                         value="{{ user.username }}"
                         autocomplete="family-name"
                         class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                </div>
              </div>
              <div>
                <label for="designation"
                       class="block text-sm font-medium leading-6 text-gray-900">Designations</label>
                <div class="mt-2">
                  <select id="designation"
                          name="designation"
                          autocomplete="designation"
                          class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    {% if user.designation %}
                      <option value="{{ user.designation.id }}">{{ user.designation.description }}</option>
                    {% endif %}
                    <option value="">Select Designation</option>
                    {% for design in user_designations %}<option value="{{ design.id }}">{{ design.description }}</option>{% endfor %}
                  </select>
                </div>
              </div>
              <div>
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                <div class="mt-2">
                  <input id="email"
                         name="email"
                         type="email"
                         value="{{ user.email }}"
                         autocomplete="email"
                         class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                </div>
              </div>
              <div>
                <label for="region"
                       class="block text-sm font-medium leading-6 text-gray-900">Region</label>
                <div class="mt-2">
                  <select id="region"
                          name="region"
                          autocomplete="region"
                          class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    {% if user.region %}<option value="{{ user.region.id }}" selected>{{ user.region.region }}</option>{% endif %}
                    <option value="">Select Region</option>
                    {% for region in regions %}<option value="{{ region.id }}">{{ region.region }}</option>{% endfor %}
                  </select>
                </div>
              </div>
              <div>
                <label for="district"
                       class="block text-sm font-medium leading-6 text-gray-900">District</label>
                <div class="mt-2">
                  <select id="district"
                          name="district"
                          autocomplete="district"
                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 px-2 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    {% if user.district %}<option value="{{ user.district.id }}" selected>{{ user.district.district }}</option>{% endif %}
                  </select>
                </div>
              </div>
              <div>
                <label for="cost_center"
                       class="block text-sm font-medium leading-6 text-gray-900">Cost Centre</label>
                <div class="mt-2">
                  <select id="cost_center"
                          name="cost_center"
                          autocomplete="cost_center"
                          class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    {% if user.cost_center %}<option value="{{ user.cost_center.id }}">{{ user.cost_center.name }}</option>{% endif %}
                    <option value="">Select Cost Centre</option>
                  </select>
                </div>
              </div>
              <div>
                <label for="depot" class="block text-sm font-medium leading-6 text-gray-900">Depot</label>
                <div class="mt-2">
                  <select id="depot"
                          name="depot"
                          autocomplete="depot"
                          class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    {% if user.depot %}<option value="{{ user.depot.id }}">{{ user.depot.depot }}</option>{% endif %}
                    <option value="">select depot</option>
                  </select>
                </div>
              </div>
              <div>
                <label for="section"
                       class="block text-sm font-medium leading-6 text-gray-900">Section</label>
                <div class="mt-2">
                  <select id="section"
                          name="section"
                          autocomplete="section"
                          class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    {% if user.section %}<option value="{{ user.section.code }}">{{ user.section.section }}</option>{% endif %}
                    <option value="">Select Section</option>
                    {% for section in sections %}<option value="{{ section.code }}">{{ section.section }}</option>{% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="mt-10 overflow-x-scroll">
              <h2 class="text-base text-center font-semibold leading-7 text-gulf-blue-900">Pick Cost Center</h2>
              <div id="chart_div" class="py-10 px-5"></div>
            </div>
          </div>
          <div class="mt-10 border-b border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">User Responsibilities</h2>
            {% comment %} <p class="mt-1 text-sm leading-6 text-gray-600">Select user roles for the following application modules.</p> {% endcomment %}
            <div id="responsibilities-container" class="mt-10 grid grid-cols-3 gap-4">
              {% for app in user_applications %}
              <div>
                <form method="post" id="role_form">
                  {% csrf_token %}
                  <input type="hidden" name="user_id" value="{{ user.id }}" />
                  <input type="hidden" name="app_id" value="{{ app.id }}" />
                  <input type="hidden" name="name" value="{{ app.name }}" />
                  <button  class="block rolebtn text-sm font-medium border-gulf-blue-700 rounded px-2 border-1 border leading-6 text-gray-900"
                          type="button">
                    {{ app.fullname }} |
                    {% with responsibility=user_profile|get_responsibility:app %}
                      <span id="app_{{ app.id }}" value="{{ responsibilities.id }}">{{ responsibility }}</span>
                    {% endwith %}
                  </button>
                </form>
              </div>
            {% endfor %}
              </div>
          </div>
        </div>
        <dialog id="my_modal_2" class="modal">
          <form method="dialog" class="modal-backdrop"  id="Modalform">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}" />
            <input type="hidden" name="selectedapp_id"id="selectedapp_id" value="{{ app.id }}" />
            <h3 class="text-center text-lg font-semibold leading-6 text-gray-900">
              User:  <span class="text-blue-400">{{ user_profile.get_full_name }}</span> on <span class="text-green-400" id="applbl"></span>
            </h3>
            <div id="rolesModalform"
                 class="modal-body fixed top-20  container mx-3 px-2"></div>
            <div id="cc_chart" class="modal-body  mt-20 pt-15"></div>
            <div class="grid grid-cols-5 fixed bottom-20 left-0 w-full px-10 mx-auto">
              <input type="button"
                     id="save_role"
                     value="Save"
                     class="btn btn-primary flex flex-row-reverse px-5 mb-5 font-bold py-2 bg-indigo-400 rounded-lg">
            </div>
          </form>
        </dialog>
        <div class="flex mt-10 px-3 py-3">
          <div style="width: 50%">
            <button style="width: 100%"
                    class="text-sm font-semibold leading-6 text-gray-900">CANCEL</button>
          </div>
          <div style="width: 50%">
            <button style="width: 100%"
                    type="button"
                    id="save_update"
                    class="rounded-md bg-blue-925 hover:bg-blue-550 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              SAVE USER
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script type="text/javascript" src="{% static 'assets/js/loader.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/roleajax.js' %}"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages:["orgchart"]});
   function assignCostCenter(id) {
      document.getElementById('cost_center').value = id;

    var data = new google.visualization.DataTable();
      $.ajax({
        url: '/users/centfilter/'+id,
        datatype: 'json',
        type: 'GET',
        success: function(response) {
          data.addColumn('string', 'Name');
          data.addColumn('string', 'Manager');
          data.addColumn('string', 'ToolTip');
          var selectElement = document.getElementById('cost_center');

          while (selectElement.options.length > 0) {
            selectElement.remove(0);
          }
        for (row in response){
                data.addRow([{'v':response[row].id, 'f':'<button type="button" onclick="assignCostCenter('+response[row].id+')">'+response[row].name+' <div style="color:red; font-style:italic">'+response[row].code+'</div></button>'}, response[row].parent, response[row].parent]);
                selectElement.innerHTML += '<option value="'+response[row].id+'">'+response[row].name+'</option>' ;

            }
          var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
          chart.draw(data, {'allowHtml': true});
        }
    });
    }

    $(document).ready(() => {
      google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Name');
    data.addColumn('string', 'Manager');
    data.addColumn('string', 'ToolTip');

    data.addRows([
      {% for cost_center in cost_centers %}
      [{v: '{{ cost_center.id }}', f: '<button type="button" onclick="assignCostCenter({{ cost_center.id }})">{{ cost_center.name }}<div style="color:red; font-style:italic">{{ cost_center.code }}</div></button>'}, '{{ cost_center.parent.id }}', '{{ cost_center.parent.id }}'],
      {% endfor %}
    ]);

    var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
    chart.draw(data, {'allowHtml': true});
  }

    const region = document.getElementById('region');
    const district = document.getElementById('district');
    const depot = document.getElementById('depot');
    const cost_center = document.getElementById('cost_center');

    region.addEventListener('change', (e) => {
      const regionId = e.target.value;
      fetch(`{{BASE_URL}}/users/filtered_centers/${regionId}`)
        .then((res) => res.json())
        .then((data) => {
          console.log("var: ", data);
          cost_center.innerHTML = '<option>Select Cost Centre</option>';
          data.forEach((_cost_center) => {
            cost_center.innerHTML += `<option value="${_cost_center.id}">${_cost_center.name}</option>`;
          });
        });
    });

    region.addEventListener('change', (e) => {
        const regionId = e.target.value;
        fetch(`{{BASE_URL}}/users/filtered_districts/${regionId}`)
          .then((res) => res.json())
          .then((data) => {
            console.log("var: ", data);
            district.innerHTML = '<option>Select District</option>';
            data.forEach((_district) => {
              district.innerHTML += `<option value="${_district.id}">${_district.district}</option>`;
            });
          });
      });

    district.addEventListener('change', (e) => {
      const districtId = e.target.value;
      fetch(`{{BASE_URL}}/users/filtered_depots/${districtId}`)
        .then((res) => res.json())
        .then((data) => {
          console.log("depots: ", data);
          depot.innerHTML = '<option>Select Depot</option>';
          data.forEach((_depot) => {
            depot.innerHTML += `<option value="${_depot.id}">${_depot.depot}</option>`;
          });
        });
    });
  });
  </script>
{% endblock scripts %}
