{% extends "admin_layout.html" %}
{% load static %}{% load custom_tags %}

{% block content %}

<div class="m-auto mt-5 ">
  <form class="row rounded py-4 border bg-gulf-blue-100 p-3 m-auto   container" method="POST" action="{{url}}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="m-auto container justify-content-stretch align-content-stretch">
      <h1 class="font-bold" >Workflow : {{ workflow.name }}</h1>
     
      <br><hr> <div>
        {% if formset %}
        <h3 class="font-bold">Steps</h3>
        {{ formset.management_form }}
        {% for form in formset %}
          <div class="rounded d-flex  align-items-center p-3 gap-4 bg-gulf-blue-200 m-3 grid grid-cols-8">
            {% if form.non_field_errors %}
              <div class="col-span-8">
                <div class="text-red-500">
                  {{ form.non_field_errors }}
                </div>
              </div>
            {% endif %}
            {% for field in form %}
              {% if field.is_hidden %}
                {{ field }}
              {% else %}
                <div class="col-span-4">
                  {{ field.label_tag }}
                  <div class="text-red-500">
                    {{ field.errors }}
                  </div>
                  {{ field }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
       <br>
      <div class="mx-auto my-10 justify-content-stretch text-center align-content-stretch">
        <a class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" href="/dashboard">Back</a>
        <input class="bg-gulf-blue-600 hover:bg-gulf-blue-500 text-white font-bold py-2 px-4 rounded" type="submit" >
      </div>
    </div>
  </form>
</div>

{% endblock %}