{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}
<div class="grid grid-cols-3 gap-4flex flex-row ...">

   <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
            href="{% static 'job_descriptions\commercial\Commercial Officer.pdf' %}"> <strong>COMMERCIAL OFFICER</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
            href="{% static 'job_descriptions\commercial\Commercial Supervisor 2017.pdf' %}"><strong>COMMERCIAL SUPERVISOR</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
            href="{% static 'job_descriptions\commercial\Credit Control Assistant.pdf' %}"><strong>CREDIT CONTROL ASSISTANT</strong></a></button>
    
    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
            href="{% static 'job_descriptions\commercial\Customer Liaison.pdf' %}"><strong>CUSTOMER LIASON</strong></a></button>
    
<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
href="{% static 'job_descriptions\commercial\Customer Services Engineer.pdf' %}"><strong>CUSTOMER SERVICE ENGINEER</strong></a></button>

<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\commercial\Rev Assurance Analyst.pdf' %}"><strong>REVENUE ASSURANCE ANALYST</strong></a></button>
        
<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\commercial\Revenue Assurance  Engineer.pdf' %}"><strong>REVENUE ASSURANCE ENGINEER</strong></a></button>
        
<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\commercial\Sales Executive 2017.pdf' %}"><strong>SALES EXECUTIVE</strong></a></button>

<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\ict\hardware technician.pdf' %}"><strong></strong></a></button>

<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\commercial\Senior Engineer Revenue Assurance.pdf' %}"><strong>SENIOR ENGINEER REVENUE ASSURANCE</strong></a></button>
                
<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\commercial\Supervising Clerk - Credit Control.pdf' %}"><strong>SUPERVISING CLERK</strong></a></button>

<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\commercial\TECHNICIAN (COMMERCIAL).pdf' %}"><strong>COMMERCIAL TECHNICIANS</strong></a></button>

<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\commercial\Marketing Assistant.doc' %}"><strong>MARKETING ASSISTANT</strong></a></button>

<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\commercial\Banking Hall Supervisor.doc' %}"><strong>BANKING HALL SUPERVISOR</strong></a></button>

<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\commercial\Computer Operator.doc' %}"><strong>COMPUTER OPERATOR</strong></a></button>
        
<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\commercial\Senior Meter Reader.doc' %}"><strong>SENIOR METER READER</strong></a></button>
        
<button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\commercial\Chief Inspector.doc' %}"><strong>CHIEF INSPECTOR</strong></a></button>

        <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\commercial\Jd for Customer Liaison.doc' %}"><strong>Customer Liaison</strong></a></button
                                                

</div>


{%endblock %}