{%extends 'admin_layout.html'%}
{%load static%}

{%block content%}
<div class="grid grid-cols-3 gap-8">
   <a href =" {%url 'charts'%}" style="background-color: #65d623;" class="flex justify-center rounded-md py-6 px-3 text-black text-2xl"><strong>ORGANISATIONAL CHARTS</strong> </a>
    <div><a href =" #" style="background-color: #d45050;" class="flex justify-center py-8 px-3 text-black text-2xl justify-items-center"><strong>TRAININGS & DEVELOPMENT</strong> </a></div>
    <div><a href =" #" style="background-color: #2c4bd4" class="flex justify-center rounded-md py-12 px-3 text-black text-2xl"><strong>VACANCIES</strong> </a></div>
    <div><a href ="{%url 'jobdescription'%}" style="background-color: #2c4bd4;" class="flex justify-center rounded-md py-10 px-3 text-black text-2xl"><strong>JOB DESCRIPTION</strong> </a></div>
    <div><a href =" #" style="background-color: #65d623;" class="flex justify-center rounded-md py-10 px-3 text-black text-2xl"><strong>UPCOMING EVENTS</strong> </a></div>
    <div><a href =" #" style="background-color: #d45050;" class="flex justify-center rounded-md py-14 px-5 text-black text-2xl"><strong>       </strong> </a></div>
   
  </div>

{%endblock %}