{%extends 'admin_layout.html'%}
{%load static%}

{%block content%}
<div class="flex justify">
  <div></div>
  <a href="upload_file">
    <button
      style="
        width: 6rem;
        height: 3rem;
        background-color: #0c4a6e;
        margin-right: 20px;
        border-radius: 1.5rem;
      "
      class="w-28 bg-gulf-blue-300 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center"
    >
      <span class="pr-1 font-semibold flex-1 text-blue-50">CREATE</span>
    </button>
  </a>
</div>

<div class="flex justify-between">
  <div></div>
  <a href="competence_index">
    <button
      style="
        width: 6rem;
        height: 3rem;
        background-color: #0c4a6e;
        margin-right: 18px;
        border-radius: 1.5rem;
      "
      class="w-28 bg-gulf-blue-300 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center"
    >
      <span class="pr-1 font-semibold flex-1 text-blue-50">VIEW</span>
      
    </button>
  </a>
</div>

<div class="grid grid-cols-3 gap-4">
  <div
    class="w-auto shadow text-gray-700 rounded px-2 py-2"
    style="background-color: #7FFFD4;"
  >
    <div class="sm:flex lg:items-center lg:justify-between">
      <div class="min-w-0 flex-1">
        <div class="">
          <div class="mx-auto">
            <div class="group relative">
              <div><a href ="charts" class= "flex justify-center rounded-md py-8 px-3 text-black text-2xl"><strong>ORGANISATIONAL CHARTS</strong> </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<div
    class="w-auto shadow text-gray-700 rounded px-2 py-2"
    style="background-color: #89CFF0;"
  >
  <div class="sm:flex lg:items-center lg:justify-between">
    <div class="min-w-0 flex-1">
      <div class="">
        <div class="mx-auto">
          <div class="group relative">
            <div><a href =" #" class= "flex justify-center rounded-md py-8 px-3 text-black text-2xl"><strong>TRAININGS AND DEVELOPMENT</strong> </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div

    class="w-auto shadow text-gray-700 rounded px-2 py-2"
    style="background-color:  #7FFFD4;"
  >
    <div class="sm:flex lg:items-center lg:justify-between">
      <div class="min-w-0 flex-1">
        <div class="">
          <div class="mx-auto">
            <div class="group relative">
              <div><a href =" #" class= "flex justify-center rounded-md py-8 px-3 text-black text-2xl"><strong>UPCOMING EVENTS</strong> </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div

class="w-auto shadow text-gray-700 rounded px-2 py-2"
style="background-color: #89CFF0;"
>
<div class="sm:flex lg:items-center lg:justify-between">
  <div class="min-w-0 flex-1">
    <div class="">
      <div class="mx-auto">
        <div class="group relative">
          <div><a href =" jobdescription" class= "flex justify-center rounded-md py-8 px-3 text-black text-2xl"><strong>JOB DESCRIPTION</strong> </a></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div

    class="w-auto shadow text-gray-700 rounded px-2 py-2"
    style="background-color: #7FFFD4;"
  >
    <div class="sm:flex lg:items-center lg:justify-between">
      <div class="min-w-0 flex-1">
        <div class="">
          <div class="mx-auto">
            <div class="group relative">
              <div><a href =" #" class= "flex justify-center rounded-md py-8 px-3 text-black text-2xl"><strong>VACANCIES</strong> </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div

class="w-auto shadow text-gray-700 rounded px-2 py-2"
style="background-color: #89CFF0;"
>
<div class="sm:flex lg:items-center lg:justify-between">
  <div class="min-w-0 flex-1">
    <div class="">
      <div class="mx-auto">
        <div class="group relative">
          <div><a href =" regionaloffice" class= "flex justify-center rounded-md py-8 px-3 text-black text-2xl"><strong>SAFETY CIRCULAR</strong> </a></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div >
  {% comment %} <a href =" {%url 'charts'%}" style="background-color: #65d623;" class="flex justify-center rounded-md py-6 px-3 text-black text-2xl"><strong>ORGANISATIONAL CHARTS</strong> </a>
    <div><a href =" #" style="background-color: #d45050;" class="flex justify-center py-8 px-3 text-black text-2xl justify-items-center"><strong>TRAININGS & DEVELOPMENT</strong> </a></div>
    <div><a href =" #" style="background-color: #2c4bd4" class="flex justify-center rounded-md py-12 px-3 text-black text-2xl"><strong>VACANCIES</strong> </a></div>
    <div><a href ="{%url 'jobdescription'%}" style="background-color: #2c4bd4;" class="flex justify-center rounded-md py-10 px-3 text-black text-2xl"><strong>JOB DESCRIPTION</strong> </a></div>
    <div><a href =" #" style="background-color: #65d623;" class="flex justify-center rounded-md py-10 px-3 text-black text-2xl"><strong>UPCOMING EVENTS</strong> </a></div>
    <div><a href =" #" style="background-color: #d45050;" class="flex justify-center rounded-md py-14 px-5 text-black text-2xl"><strong>       </strong> </a></div>
     {% endcomment %}
  </div>


  {%endblock %}