{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}

<div style="text-color:blue font-size:14pt; text:centre-align "><strong>HARARE REGION - ENGINEERING JOB DESCRIPTION </strong></div>


<div class= "grid grid-cols-3 gap-4 flex flex-row ...">

    <button type="button"class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1" 
            href="{% static 'job_descriptions/engineering/artisan_electrical.pdf' %}"> <strong>ARTISAN ELECTRICAL</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
            href="{% static 'job_descriptions\engineering\artisan_lines.pdf' %}"><strong>ARTISAN LINES</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
            href="{% static 'job_descriptions/engineering/artisan_motor_mechanic.pdf' %}"><strong>ARTISAN MECHANICAL</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
            href="{% static 'job_descriptions\engineering\draughtsperson.pdf' %}"><strong>DRAUGHTS PERSON</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
            href="{% static 'job_descriptions\engineering\Gang Charge Rigging.pdf' %}"><strong>GANG CHARGE RIGGING</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
             href="{% static 'job_descriptions\engineering\Garage Foreman.pdf' %}"><strong>FOREMAN GARAGE</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
            href="{% static 'job_descriptions\engineering\Guest House Caretaker.pdf' %}"><strong>GUEST HOUSE CARETAKER</strong></a></button>
    
    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
             href="{% static 'job_descriptions\engineering\Auger Crane Operator.pdf' %}"><strong>AUGER CRANE OPERATOR</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
           href="{% static 'job_descriptions\engineering\JD for District Manager 2017.pdf' %}"><strong>DISTRICT MANAGER</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
            href="{% static 'job_descriptions\engineering\JD for Engineering Manager 2017 Ammended.pdf' %}"><strong>ENGINEERING</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
            href="{% static 'job_descriptions\engineering\JD for General Manager.pdf' %}"><strong>GENERAL MANAGER</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
            href="{% static 'job_descriptions\engineering\JD for Senior Customer Service Officer (Districts) 2017.pdf' %}"><strong>SENIOR CUSTOMER SERVICE</strong></a></button>
                                
    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
          href="{% static 'job_descriptions\engineering\JD for Technical Clerk.pdf' %}"><strong>TECHNICAL CLERK</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
             href="{% static 'job_descriptions\engineering\Job Description - Depot Clerk.pdf' %}"><strong>DEPOT CLERK</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\Job Description - Stores Clerk.pdf' %}"><strong>STORES CLERK</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\Job Description - Technical Clerk.pdf' %}"><strong>TECHNICAL CLERK</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\Job description Artisan Assistant.pdf' %}"><strong>ARTISAN ASSISTANT</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\Job Description Artisan Mechanic.pdf' %}"><strong>ARTISAN MECHANICAL</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\JOB DESCRIPTION FORM - Stores Assistant.pdf' %}"><strong>STORES ASSISTANT</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\JOB DESCRIPTION FORM - Stores Clerk 2017.pdf' %}"><strong>STORES CLERK</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\JOB DESCRIPTION FORM-PANEL BEATER.pdf' %}"><strong>PANEL BEATER</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
    href="{% static 'job_descriptions\engineering\Job Description. Line worker.pdf' %}"><strong>LINE WORKER</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\SECRETARY - DIVISIONAL.pdf' %}"><strong>SECRETARY DIVISIONAL</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\SECRETARY - GM.pdf' %}"><strong>SECRETARY GM</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\SECRETARY - NM.pdf' %}"><strong>SECRETARY NETWORK MANAGER</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\SECRETARY EM.pdf' %}"><strong>SECRETARY ENGINEERING MANAGER</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\TECHNICIAN.pdf' %}"><strong>TECHNICIAN</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\transport_officer.pdf' %}"><strong>TRANSPORT OFFICER</strong></a></button>

    <button type="button" class="rounded-xl bg-blue-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\JD for Technical Clerk.pdf' %}"><strong>TECHNICAL CLERK</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\Civil Artisan.doc' %}"><strong>CIVIL ARTISAN</strong></a></button>
     
    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\Cable Laying Supervisor.doc' %}"><strong>CABLE LAYING</strong></a></button>
       
    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\Skilled Worker.doc' %}"><strong>SKILLED WORKER SUPERVISOR</strong></a></button>
        
    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\Senior Systems Controller.doc' %}"><strong>SENIOR SYSTEMS CONTROLLER</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\JD for Personnel Officer.doc' %}"><strong>Personnel Officer</strong></a></button>

    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\JD for Principal technician Planning and Design.doc' %}"><strong>Principal technician Planning and Design</strong></a></button>
     
    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\JD for Technician Planning and Design.doc' %}"><strong>Technician Planning and Design</strong></a></button>
     
    <button type="button" class="rounded-xl bg-green-300 py-4 px-2 m-3"><a tabindex="-1"
        href="{% static 'job_descriptions\engineering\JD for Draughtsperson.doc' %}"><strong>Draughtsperson</strong></a></button>  
        
    </div>

   

{%endblock %}