{% extends 'admin_layout.html' %}
{%load static%}
{% block styles %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  
  google.charts.load('current', {packages:["orgchart"]});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Name');
    data.addColumn('string', 'Manager');
    data.addColumn('string', 'ToolTip');

    // For each orgchart box, provide the name, manager, and tooltip to show.
    data.addRows([



    [{'v':'FM', 'f':'<div style="color:black; font-style:bold">FINANCE MANAGER</div>'},
    '', 'Finance Manager'],

   [{'v':'Finance Manager Secretary', 'f':'<div style="color:black; font-style:bold">SECRETARY</div>'},
    'FM', ''],
    [{'v':'FA', 'f':'<div style="color:black; font-style:bold">SENIOR ACCOUNTANT(FINANCIAL ACCOUNTING)</div>'},
    'FM', ''],
    [{'v':'MA', 'f':'<div style="color:black; font-style:bold">SENIOR ACCOUNTANT(MANAGEMENT ACCOUNTING)</div>'},
    'FM', ''],
    [{'v':'PO', 'f':'<div style="color:black; font-style:bold">PROCUREMENT OFFICER</div>'},
    'FM', ''],
    [{'v':'B', 'f':'<div style="color:black; font-style:bold">BUYER</div>'},
    'PO', ''],
    [{'v':'AOP', 'f':'<div style="color:black; font-style:bold"> ACCOUNTING OFFICER PAYMENTS </div>'},
    'FA', ''],
    [{'v':'ACl', 'f':'<div style="color:black; font-style:bold"> ACCOUNTS CLERK </div>'},
    'AOP', 'payments'],
    [{'v':'AOR', 'f':'<div style="color:black; font-style:bold"> ACCOUNTING OFFICER REVENUE </div>'},
    'FA', ''],[{'v':'AC', 'f':'<div style="color:black; font-style:bold"> ACCOUNTS CLERK </div>'},
    'AOR', ''],
    [{'v':'ACl', 'f':'<div style="color:black; font-style:bold"> ACCOUNTS CLERK </div>'},
    'AOP', ''],
    [{'v':'AOB', 'f':'<div style="color:black; font-style:bold">ACCOUNTING OFFICER (COST/BUDGET)</div>'},
    'MA', 'Management Accounting'],
    [{'v':'SO', 'f':'<div style="color:black; font-style:bold">SUPPLIES OFFICER (chart D4.2a)</div>'},
    'MA', 'Supplies'],
    [{'v':'ACK', 'f':'<div style="color:black; font-style:bold"> ACCOUNTS CLERK </div>'},
    'AOB', 'Management Accounting'],
   
    
 ]);

    // Create the chart.
    var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
    // Draw the chart, setting the allowHtml option to true for the tooltips.
    chart.draw(data, {'allowHtml':true});

}
</script>
{% endblock %}
{%block content%}

<div>
  
  <div id="chart_div"></div>
</div>

{%endblock%}