{%extends 'admin_layout.html'%}
{%load static%}

{%block content%}

<div class="grid grid-cols-3 gap-8">
<a href=" # " style="background-color: blueviolet;" class="flex justify-center py-6 px-3 text-black text-2xl"><strong>ENGINEERING</strong> </a>
<div><a href =" #" style="background-color: chartreuse;" class= "flex justify-center rounded-md py-8 px-3 text-black text-2xl"><strong>COMMERCIAL</strong> </a></div>
<div><a href =" #" style="background-color: rgb(52, 111, 223); ;" class= "flex justify-center rounded-md py-8 px-3 text-black text-2xl"><strong>PROCUREMENT</strong> </a></div>
<div><a href =" #" style="background-color: rgb(218, 13, 13);" class= "flex justify-items-center rounded-md py-4 px-3 text-black text-2xl"><strong>INFORMATION TECHNOLOGY</strong> </a></div>
<div><a href =" #" class="flex justify-center bg-blue-500 rounded-md py-8 px-3 text-black text-2xl"><strong>HRM & ADMIN</strong> </a></div>
<div><a href =" #" class="flex justify-center bg-green-500 rounded-md py-8 px-3 text-black text-2xl"><strong>FINANCE</strong> </a></div>
<div><a href =" #" style="background-color: rgb(52, 111, 223);" class= "flex justify-items-center rounded-md py-8 px-3 text-black text-2xl"><strong>RISK MANAGEMENT</strong> </a></div>
<div><a href =" #" class="flex justify-center bg-blue-500 rounded-md py-8 px-3 text-black text-2xl"><strong>STACKHOLDER RELATIONS</strong> </a></div>
<div><a href =" #" class="flex justify-center bg-green-500 rounded-md py-8 px-3 text-black text-2xl"><strong>LEGAL SERVICES</strong> </a></div>
</div>
</div>

{%endblock%}
