{% extends 'admin_layout.html' %}
{%load static%}
{% block styles %}
<style>
  .google-visualization-orgchart-linebottom {
    border-bottom: 1px solid #3388dd;
    height: 2rem;
}
.google-visualization-orgchart-lineleft {
  border-left: 1px solid #3388dd;
  height: 2rem;
}
  </style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  
  google.charts.load('current', {packages:["orgchart"]});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Name');
    data.addColumn('string', 'Manager');
    data.addColumn('string', 'ToolTip');

    // For each orgchart box, provide the name, manager, and tooltip to show.
    data.addRows([



    [{'v':'CRO', 'f':'<div style="color:black; font-style:bold">CHIEF_RISK OFFICER</div>'},
    '', 'Risk'],

    [{'v':'RO', 'f':'<div style="color:black; font-style:bold">RISK OFFICER</div>'},
    'CRO', ''],
    
 ]);

    // Create the chart.
    var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
    // Draw the chart, setting the allowHtml option to true for the tooltips.
    chart.draw(data, {'allowHtml':true});

  }
</script>
{% endblock %}
{%block content%}

<div>
  <div style="text-color:blue font-size:14pt"><strong>CHART D4.4: HARARE REGION - RISK MANAGEMENT 2016</strong></div>
  <div id="chart_div" class="py-10 px-5"></div>
</div>


{%endblock%}