{% extends "admin_layout.html" %}
{% load static %}
{% load humanize %}
{% load custom_tags %}
{% block styles %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  <style>
    .dataTables_wrapper .dataTables_length select { width: 4rem; }
  </style>
{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <div class="grid grid-cols-1">
      <div class="bg-gulf-blue-100 shadow-lg rounded-lg p-6">
        <h3 class="text-center font-bold mb-4">Tools and Equipment List</h3>
        <a href="{% url 'tokens:create_token' %}"
           class="bg-blue-500 hover:bg-blue-700 m-5 inline-block rounded-full text-white py-2 px-4"> New Request</a>

        <table id="tools" class="table table-striped stripe mt-3 table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date Issued</th>
              <th>Issued By</th>
              <th>Certified By</th>
            </tr>
          </thead>
          <tbody>
            {% for item in teforms %}
              <tr>
            <td><a class="text-blue-500" href="{% url 'tools-and-equipment:tools-and-equipment-detail' item.id %}">{{ item.artisan }}</a></td>
                <td>{{ item.date_issued|date }}</td>
                <td>{{ item.issued_by }}</td>
                <td>{{ item.certified_by }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script>
  $(document).ready(function () {
    $("#tools").DataTable({
      "pageLength": 10,
      "columnDefs": [{ "orderable": true, "targets": [0, 1, 2] }],
      "responsive": true,
      "searching": true,
      language: {
        search: "Filter results:"
      }
    });
  });
  </script>
{% endblock %}