{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}
<div class="flex justify-between items-center p-3">
   <h1 class="text-2xl text-black font-bold ">Commercial Forms</h1>

   <div style= "color: rgb(3 7 18); "class="text mr-4">(Clause 7.5)</div>
</div>
<div class="grid grid-cols-3 gap-3">
  
   </div>
   
   <div style="display: flex;justify-content: start;" class="mt-6">
      <a href="javascript:history.back()">
          <button style="width: 6rem;height: 3rem;background-color: #020617;margin-right: 20px"
              class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded-xl flex items-center">
              <span class="pr-1 font-bold flex-1 text-blue-50">Back</span>
    
          </span></button> </a>
    </div>
        
{%endblock %}