{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}

<div class=" flex justify-between items-center p-3">
   <h1 class="text-2xl text-black font-bold ">Engineering Forms</h1>
  
   <div  class="text-lg mr-6">(Clause 7.5)</div>
 
 </div>
 
 <div class="grid grid-cols-3 gap-6 mt-4">

<a href="{% static 'documents\FORMS\Fw-_COMMERCIAL_FORMS\E21.pdf' %}"><div
  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center  text-xl font-bold"
>
          <div class="group relative">
            <button type="button" style="width:18rem; height:6rem">
               <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
               <span class="ml-3">E21</span></button>
          </div>
    
  </div></a>

  <a  href="{% static  'documents\FORMS\Fw-_COMMERCIAL_FORMS\E22.pdf' %}"> <div
  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
>
          <div class="group relative">
            <button type="button" style="width:18rem; height:6rem">
               <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
               <span class="ml-3">E22</span></button>
          </div>
   
  </div></a>


  <a href="{% static 'documents\FORMS\Fw-_COMMERCIAL_FORMS\E25.pdf' %}"><div
  class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
>
          <div class="group relative">
            <button type="button" style="width:18rem; height:6rem">
               <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
               <span class="ml-3">E25</span></button>
          </div>
       
  </div></a>

  <a href="{% static 'documents\FORMS\Fw-_COMMERCIAL_FORMS\E150.pdf' %}"><div
    class="bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
  >

            <div class="group relative">
              <button type="button" style="width:18rem; height:6rem">
               <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
               <span class="ml-3">E150</span></button>
            </div>
      
    </div> </a>

    <a  href="{% static  'documents\FORMS\Fw-_Transport_dept_forms\Insurance form.pdf' %}"><div
      class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
    >
   
              <div class="group relative">
                <button type="button" style="width:18rem; height:6rem">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3">Insurance form</span></button>
              </div>
           
      </div></a>

      <a href="{% static 'documents\FORMS\Fw-_Transport_dept_forms\Motor claim form.pdf' %}"><div
        class=" bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
      >
       
                <div class="group relative">
                  <button type="button" style="width:18rem; height:6rem">
                     <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                     <span class="ml-3"> Motor claim form</span> </button>
                </div>
                
      </div></a>
      
        <a href="{% static 'documents\FORMS\Fw-_Transport_dept_forms\Provision of Vehicle Hire services.pdf' %}"><div
         class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
        >
        
                  <div class="group relative">
                    <button type="button" style="width:18rem; height:6rem">
                     <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                     <span class="ml-3">Provision of Vehicle Hire Services</span></button>
                  </div>
         
          </div> </a>
   
          <a href="{% static  'documents\FORMS\Fw-_Transport_dept_forms\Vehicle Accident report.pdf' %}"> <div
            class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
          >
      
                    <div class="group relative">
                      <button type="button" style="width:18rem; height:6rem">
                        <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                        <span class="ml-3">Vehicle Accident report</span></button>
                    </div>
             
            </div></a>

            <a  href="{% static 'documents\FORMS\Fw-_Transport_dept_forms\Windscreen claim form.pdf' %}"><div
              class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
            >
                      <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                           <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                           <span class="ml-3">Windscreen claim form</span></button>
                      </div>
              </div></a>
   
   <a href="{% static 'documents\FORMS\Engineering\E6  Inspection clearance certificate.pdf' %}"><div
     class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
   >

             <div class="group relative">
               <button type="button" style="width:18rem; height:6rem">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3">E6 Inspection clearance certificate</span></button>
             </div>
         
     </div></a>
    

     <a href="{% static 'documents\FORMS\Engineering\E10 Controllers instruction.pdf' %}"><div
     class=" bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center  text-xl font-bold"
   >
             <div class="group relative">
               <button type="button" style="width:18rem; height:6rem">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3">E10 Controller`s instruction</span></button>
             </div>
       
     </div></a>

     <a  href="{% static  'documents\FORMS\Engineering\E18 Permit to work.pdf' %}"> <div
     class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
   >
             <div class="group relative">
               <button type="button" style="width:18rem; height:6rem">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3">E18 Permit to work</span></button>
             </div>
      
     </div></a>
   

     <a href="{% static 'documents\FORMS\Engineering\E21  E22  E25 Connections.pdf' %}"><div
     class="bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
   >
             <div class="group relative">
               <button type="button" style="width:18rem; height:6rem">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3">E21 E22 E25 Connections</span></button>
             </div>
          
     </div></a>

     <a href="{% static 'documents\FORMS\Engineering\E6  Inspection clearance certificate.pdf' %}"><div
       class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
     >
   
               <div class="group relative">
                 <button type="button" style="width:18rem; height:6rem">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3">E6 Limitation of access</span></button>
               </div>
         
       </div> </a>

       <a  href="{% static  'documents\FORMS\Engineering\60.1,2,3 Inspection and overlhaul of consumer sub.pdf' %}"><div
         class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
       >
      
                 <div class="group relative">
                   <button type="button" style="width:18rem; height:6rem">
                     <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                     <span class="ml-3">E60.1.2.3 Inspection Overhaul</span></button>
                 </div>
              
         </div></a>

         <a href="{% static 'documents\FORMS\Engineering\E84 11kV Line Inspection Report.pdf' %}"><div
           class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
         >
          
                   <div class="group relative">
                     <button type="button" style="width:18rem; height:6rem">
                        <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                        <span class="ml-3"> E84 11kV Line Inspection Report</span> </button>
                   </div>
                   
         </div></a>
         
           <a href="{% static 'documents\FORMS\Engineering\E86a Fault Report.pdf' %}"><div
            class=" bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
           >
           
                     <div class="group relative">
                       <button type="button" style="width:18rem; height:6rem">
                        <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                        <span class="ml-3">E86(a) Fault Report</span></button>
                     </div>
            
             </div> </a>
      
             <a href="{% static  'documents\FORMS\Engineering\E96A Sanction for Test.pdf' %}"> <div
               class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
             >
         
                       <div class="group relative">
                         <button type="button" style="width:18rem; height:6rem">
                           <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                           <span class="ml-3">E96A Sanction for Test</span></button>
                       </div>
                
               </div></a>

               <a  href="{% static 'documents\FORMS\Engineering\E98 Visitors live enclosure permit.pdf' %}"><div
                 class="bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
               >
                         <div class="group relative">
                           <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3">E98 Visitor`s Live Enclosure Permit</span></button>
                         </div>
                 </div></a>

                 <a href="{% static 'documents\FORMS\Engineering\E117 Inspection Report.pdf' %}"><div
                   class=" bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                 >
                           <div class="group relative">
                             <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3">E117 Inspection Report</span></button>
                           </div>

                   </div></a>

                   <a href="{% static  'documents\FORMS\Engineering\Monthly load readings.pdf' %}"><div
                     class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                   >
                             <div class="group relative">
                               <button type="button" style="width:18rem; height:6rem">
                                 <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                 <span class="ml-3"> Monthly Load Readings</span></button>
                             </div>

                     </div></a>
               
               <a  href="{% static 'documents\FORMS\Engineering\Pre task risk assessment.pdf' %}"><div
                 class="bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
               >
                         <div class="group relative">
                           <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3"> Pre-task Risk Assessment</span></button>
                         </div>
                 </div> </a> 
      
                 <a href="{% static 'documents\FORMS\Engineering\CHECKLIST FOR ELECTRICAL Substations.pdf' %}"><div
                   class=" bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                 >
                           <div class="group relative">
                             <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3">Checklist for Electrical Substations</span></button>
                           </div>
                   </div></a>
               
                   <a href="{% static  'documents\FORMS\Engineering\Battery maintenance E121.pdf' %}"> <div 
                     class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                   >
                           <div class="group relative">
                             <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3">E121 Battery Maintanence</span></button>
                           </div>
                   </div></a>

                   <a  href="{% static 'documents\FORMS\Engineering\E50 Monthly load readings.pdf' %}"><div
                     class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                   >
                             <div class="group relative">
                               <button type="button" style="width:18rem; height:6rem">
                                 <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                 <span class="ml-3"> E50 Monthly Load Readings</span></button>
                             </div>
                     </div> </a> 
          
                     <a href="{% static 'documents\FORMS\Engineering\connection application FORM E22.pdf' %}"> <div
                       class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                     >
                        <div class="group relative">
                           <button type="button" style="width:18rem; height:6rem">
                                 <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                 <span class="ml-3">E22 Connection Application Form</span></button>
                           </div>
                       </div></a>
                   
                       <a href="{% static  'documents\FORMS\Engineering\switching certificate form.pdf' %}"><div
                         class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                       >
                               <div class="group relative">
                                 <button type="button" style="width:18rem; height:6rem">
                                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                    <span class="ml-3">Switching Certificate</span> </button>
                               </div>
                       </div></a>
                
                       <a href="{% static 'documents\FORMS\Engineering\Takeover papers-privates.pdf' %}"><div
                     class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                   >
                              <div class="group relative">
                                <button type="button" style="width:18rem; height:6rem">
                                 <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                 <span class="ml-3">Takeover Papers-Privates</span></button>
                              </div>
                      </div>  </a>
           
                      <a  href="{% static 'documents\FORMS\Engineering\E16 Overhaul report.pdf' %}"><div
                        class="bg-citron-200  shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                      >
                                <div class="group relative">
                                  <button type="button" style="width:18rem; height:6rem">
                                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                    <span class="ml-3">E16 Overhaul Report</span></button>
                                </div>
                        </div></a>
                    
                        <a href="{% static  'documents\FORMS\Engineering\E68_line_inspection_report.pdf' %}">
                        <div
                          class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                        >
                                <div class="group relative">
                                  <button type="button" style="width:18rem; height:6rem">
                                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                    <span class="ml-3">E68 Line Inspection Report</span></button>
                                </div>
                        </div> </a>

                        <a href="{% static 'documents\FORMS\Engineering\E116_vote_completion_certificate.pdf' %}">
                        <div
                          class=" bg-gulf-blue-300  shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                        >
                                   <div class="group relative">
                                     <button type="button" style="width:18rem; height:6rem">
                                       <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                       <span class="ml-3"> E116 Vote Completion Certificate</span></button>
                                   </div>
                           </div></a>  
                
                           <a  href="{% static 'documents\FORMS\Engineering\ET3_vehicle_hiring_form.pdf' %}">
                           <div
                             class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                           >
                                     <div class="group relative">
                                       <button type="button" style="width:18rem; height:6rem">
                                          <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                          <span class="ml-3">ET3 Vehicle Hiring Form</span></button>
                                     </div>
                             </div></a>
                           
                             <a href="{% static  'documents\FORMS\Engineering\Form E70.pdf' %}">
                             <div
                               class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                             >
                                     <div class="group relative">
                                       <button type="button" style="width:18rem; height:6rem">
                                          <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                          <span class="ml-3">E70 ACE</span></button>
                                     </div>
                             </div>  </a>                    
     
                             <a href="{% static 'documents\FORMS\Engineering\Form E70.pdf' %}">
                             <div
                          class="bg-gulf-blue-300  shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                        >
                                   <div class="group relative">
                                     <button type="button" style="width:18rem; height:6rem">
                                       <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                       <span class="ml-3"> Vehicle Checklist</span></button>
                                   </div>
                           </div>  </a>
                
                           <a  href="{% static 'documents\FORMS\Engineering\ZESA PUBLIC LIABILITY CLAIM FORM.pdf' %}">
                           <div
                           
                             class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                           >
                                     <div class="group relative">
                                       <button type="button" style="width:18rem; height:6rem">
                                          <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                          <span class="ml-3">Zesa Public Liability Claim Form</span></button>
                                     </div>
                             </div></a>
                         
                             <a href="{% static  '' %}"><div
                            
                               class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px  text-center text-xl font-bold"
                             >
                                     <div class="group relative">
                                       <button type="button" style="width:18rem; height:6rem">
                                          <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                          <span class="ml-3">E116</span></button>
                                     </div>
                             </div></a>    

</div>       
            
<div style="display: flex;justify-content: start;" class="mt-6">
    <a href="javascript:history.back()">
        <button style="width: 6rem;height: 3rem;background-color: #020617;margin-right: 20px"
            class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border  rounded-xl flex items-center">
            <span class="pr-1 font-bold flex-1 text-blue-50">Back</span>

        </button> </a>
</div>

        
{%endblock %}