{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}


  <div style= "background-color: rgb(251 207 232);)" class="flex justify-between items-center p-3">
    <h1 class="text-2xl text-black font-bold ">Forms</h1>

  
    <div style= "	color: rgb(3 7 18);" class=" text-md mr-4">Clause 7.5</div>

   </div>
   

<div class="grid grid-cols-3 gap-3 row-span-2 mt-6">

  <div>
  <a href="{%url 'Engineering Forms'%}">
    <button style="	background-color: rgb(16 185 129);" class=" text-white px-10 py-9 rounded-md text-center text-xl font-bold">Engineering Forms</button>
  </a>
  </div>

  <div>
    <a href="{%url 'Finance Forms'%}">
      <button style= "	background-color: rgb(236 72 153);" class=" text-white px-16 py-9 rounded-md text-center text-xl font-bold">Finance Forms</button>
    </a>
    </div>

    
  <div>
    <a href="{%url 'Commercial Forms'%}">
      <button style="background-color: rgb(234 179 8);" class=" text-white px-10 py-9 rounded-md text-center text-xl font-bold">Commercial Forms</button>
    </a>
    </div>

</div>  

<div class=" mt-6 flex justify-center">
  <a href="{%url 'Human Resources Forms'%}">
    <button style="background-color: rgb(168 85 247);" class=" text-white px-10 py-9 rounded-md text-center text-xl font-bold">Human Resources Forms</button>
  </a>
  </div>
<div >


  <div class="bottom-0 left-0 right-0 mt-20 w-40 flex justify-left">
    <a href="{%url 'Processes and Procedures'%}"><button  type="button" class="bg-black font-bold text-white px-4 py-2 rounded-full">Back</button></a>
  </div>

{%endblock%}


