{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}
<div  class="flex justify-between items-center p-3">
   <h1 class="text-2xl text-black font-bold ">Human Resources Forms</h1>

   <div style= "color: rgb(3 7 18);" class="text-md mr-4">(Clause 7.5)</div>
</div>
  
<div class="grid grid-cols-3 gap-6 mt-4">

  <a href="{% static 'documents\FORMS\SHE_Forms\8. Roll Call Register.pdf' %}">
      <div
        class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
      >
                <div class="group relative">
                  <button type="button" style="width:18rem; height:6rem">
                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                    <span class="ml-3"> Roll Call Register</span></button>
                </div>
        </div></a>

      <a href="{% static 'documents\FORMS\SHE_Forms\10. SHE Meeting Attendance Register.pdf' %}">
         <div
         class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
       >
                 <div class="group relative">
                   <button type="button" style="width:18rem; height:6rem">
                     <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                     <span class="ml-3"> SHE Meeting Attendance Register</span></button>
                 </div>
         </div></a>

     <a href="{% static  'documents\FORMS\SHE_Forms\11. calendar 2018 SHE meetings.pdf' %}">
        <div
           class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
           >
                      <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                          <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                          <span class="ml-3"> calendar 2018 SHE meetings</span></button>
                      </div>
              </div>
            </a>
<a href="{% static 'documents\FORMS\SHE_Forms\13. SHE Emergency Register & drill schedule - Copy.pdf' %}">
      <div
        class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
      >
                <div class="group relative">
                  <button type="button" style="width:18rem; height:6rem">
                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                    <span class="ml-3">SHE Emergency Register & drill schedule</span></button>
                </div>
        </div></a>
<a href="{% static 'documents\FORMS\SHE_Forms\15. SHE INSPECTION ACTION PLAN.pdf' %}">
      <div
        class=" bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
      >
                <div class="group relative">
                  <button type="button" style="width:18rem; height:6rem">
                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                    <span class="ml-3">SHE INSPECTION ACTION PLAN</span></button>
                </div>
        </div></a>

<a href="{% static 'documents\FORMS\SHE_Forms\Work stations SHE inspection checklist.pdf' %}">
      <div
        class=" bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
      >
                <div class="group relative">
                  <button type="button" style="width:18rem; height:6rem">
                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                    <span class="ml-3"> Work stations SHE inspection checklist</span></button>
                </div>
        </div></a>
<a href="{% static 'documents\FORMS\SHE_Forms\12. SHE Meeting Minutes.pdf' %}">
      <div
        class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
      >
                <div class="group relative">
                  <button type="button" style="width:18rem; height:6rem">
                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                    <span class="ml-3"> SHE Meeting Minutes</span></button>
                </div>
        </div></a>

<a href="{% static 'documents\FORMS\SHE_Forms\Preliminary Accident Report .pdf' %}">
      <div
        class=" bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
      >
                <div class="group relative">
                  <button type="button" style="width:18rem; height:6rem">
                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                    <span class="ml-3">Preliminary Accident Report</span></button>
                </div>
        </div></a>

        <a href="{% static 'documents\FORMS\HR\meter details form S35.pdf' %}">
          <div
          class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
        >
                  <div class="group relative">
                    <button type="button" style="width:18rem; height:6rem">
                      <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                      <span class="ml-3">Meter Details Form (S35)</span></button>
                  </div>
          </div></a>

   <a href="{% static 'documents\FORMS\HR\management leave form s49b.pdf' %}">
      <div
        class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
      >
                <div class="group relative">
                  <button type="button" style="width:18rem; height:6rem">
                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                    <span class="ml-3"> Leave Form (S49B)</span></button>
                </div>
        </div></a>

      <a href="{% static 'documents\FORMS\HR\occasional leave FORM 5.2.pdf' %}">
         <div
         class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
       >
                 <div class="group relative">
                   <button type="button" style="width:18rem; height:6rem">
                     <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                     <span class="ml-3"> Occassional Leave Form 5.2</span></button>
                 </div>
         </div></a>

     <a href="{% static  'documents\FORMS\HR\advice of salary change Form S39.pdf' %}">
        <div
           class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
           >
                      <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                          <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                          <span class="ml-3"> Advice of Salary Change (S39)</span></button>
                      </div>
              </div>
            </a>
            <a href="{% static 'documents\FORMS\HR\advice of staff joining form S31.pdf' %}">
               <div
                 class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
               >
                         <div class="group relative">
                           <button type="button" style="width:18rem; height:6rem">
                             <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                             <span class="ml-3"> Advice of Staff Joining Form (S31)</span></button>
                         </div>
                 </div></a>
         
         <a href="{% static 'documents\FORMS\HR\affidavite form.pdf' %}">
               <div
                  class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                >
                    <div class="group relative">
                      <button type="button" style="width:18rem; height:6rem">
                        <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                        <span class="ml-3">  Affidavit Form</span></button>
                     </div>
                  </div></a>
         
         <a href="{% static  'documents\FORMS\HR\application of training Form Corp 1.pdf' %}">
               <div
                 class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                     >
                     <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                         <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                         <span class="ml-3">Application of Training Corp 1</span></button>
                        </div>
                       </div>
                     </a>           
         <a href="{% static 'documents\FORMS\HR\appointment of beneficiary form.pdf' %}">

                        <div
                          class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                        >
                                  <div class="group relative">
                                    <button type="button" style="width:18rem; height:6rem">
                                      <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                      <span class="ml-3"> Appointment of Beneficiry</span></button>
                                  </div>
                          </div></a>
                  
         <a href="{% static 'documents\FORMS\HR\assistance to buy tools form.pdf' %}">
               <div
                class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                   >
                   <div class="group relative">
                     <button type="button" style="width:18rem; height:6rem">
                        <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                           <span class="ml-3">  Assistance to buy tools</span></button>
                           </div>
                     </div></a>
                  
         <a href="{% static  'documents\FORMS\HR\Contract Form.doc' %}">
                  <div
                   class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                      >
                        <div class="group relative">
                           <button type="button" style="width:18rem; height:6rem">
                           <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                           <span class="ml-3">Contract Form</span></button>
                            </div>
                     </div></a>           
               
                     <a href="{% static 'documents\FORMS\HR\clearance Form S 25.pdf' %}">
                        <div
                          class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                        >
                                  <div class="group relative">
                                    <button type="button" style="width:18rem; height:6rem">
                                      <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                      <span class="ml-3"> Clearance Form (S25)</span></button>
                                  </div>
                          </div></a>

                          <a href="{% static 'documents\FORMS\HR\AUTHORITY TO USE OWN VEHICLE FORM.pdf' %}">
                           <div
                            class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                               >
                               <div class="group relative">
                                 <button type="button" style="width:18rem; height:6rem">
                                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                       <span class="ml-3"> Authority to use Own Vehicle</span></button>
                                       </div>
                                 </div></a>
                              
                     <a href="{% static  'documents\FORMS\HR\BENEFIT FUND claim FORM.pdf' %}">
                              <div
                               class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                                  >
                                    <div class="group relative">
                                       <button type="button" style="width:18rem; height:6rem">
                                       <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                       <span class="ml-3">Benefit Fund Claim 2</span></button>
                                        </div>
                                 </div></a> 

                                 <a href="{% static 'documents\FORMS\HR\contract of employment form.doc' %}">
                                    <div
                                      class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                                    >
                                              <div class="group relative">
                                                <button type="button" style="width:18rem; height:6rem">
                                                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                                  <span class="ml-3"> Contract of Employment Form</span></button>
                                              </div>
                                      </div></a>
            
                                      <a href="{% static 'documents\FORMS\HR\Contract of serviceFORM  S8.pdf' %}">
                                       <div
                                        class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                                           >
                                           <div class="group relative">
                                             <button type="button" style="width:18rem; height:6rem">
                                                <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                                   <span class="ml-3"> Contract of Service (S8)</span></button>
                                                   </div>
                                             </div></a>
                                          
                                 <a href="{% static  'documents\FORMS\HR\contract staff requisition form MP1 (A).pdf' %}">
                                          <div
                                           class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                                              >
                                                <div class="group relative">
                                                   <button type="button" style="width:18rem; height:6rem">
                                                   <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                                   <span class="ml-3"> Contract Staff Requisition Form (MP1)</span></button>
                                                    </div>
                                             </div></a>    
                                             <a  href="{% static 'documents\FORMS\HR\driving licence Form S73.pdf' %}">
                                                <div
                                                  class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                                                >
                                                          <div class="group relative">
                                                            <button type="button" style="width:18rem; height:6rem">
                                                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                                              <span class="ml-3">Drivers Licence Form (S73)</span></button>
                                                          </div>
                                                  </div></a>
                                                  <a href="{% static 'documents\FORMS\HR\GRIEVANCE FORM.pdf' %}">
                                                    <div
                                                    class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                                                  >
                                                            <div class="group relative">
                                                              <button type="button" style="width:18rem; height:6rem">
                                                                <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                                                <span class="ml-3"> Grievance Form</span></button>
                                                            </div>
                                                    </div></a>
                                                  
                                            <a href="{% static  'documents\FORMS\Finance\A61 MD Meter cards.pdf' %}">
              <div
                class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
              >
                        <div class="group relative">
                          <button type="button" style="width:18rem; height:6rem">
                            <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                            <span class="ml-3"> Medical Mileage Form (S12)</span></button>
                        </div>
                </div>
              </a>     

                                                  <a href="{% static 'documents\FORMS\HR\internal application S.116.pdf' %}">
                                                    <div
                                                      class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                                                    >
                                                              <div class="group relative">
                                                                <button type="button" style="width:18rem; height:6rem">
                                                                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                                                  <span class="ml-3">Internal Application (S116)</span></button>
                                                              </div>
                                                      </div></a>
                                                
                                                      <a href="{% static 'documents\FORMS\HR\internal Memo Head.pdf' %}">
                                                      <div
                                                      class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                                                    >
                                                              <div class="group relative">
                                                                <button type="button" style="width:18rem; height:6rem">
                                                                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                                                  <span class="ml-3"> Internal Memo Head</span></button>
                                                              </div>
                                                      </div></a>
                                                    
                                                      <a href="{% static  'documents\FORMS\HR\interview Form MP2 AA.pdf' %}">
                                                    <div
                                                      class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                                                    >
                                                              <div class="group relative">
                                                                <button type="button" style="width:18rem; height:6rem">
                                                                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                                                  <span class="ml-3"> Interview Form (MP2 AA)</span></button>
                                                              </div>
                                                      </div>
                                                    </a>
               
             <a href="{% static 'documents\FORMS\HR\interview notes  MP3.pdf' %}">
    <div
      class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
    >
              <div class="group relative">
                <button type="button" style="width:18rem; height:6rem">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3"> Interview Notes (MP3)</span></button>
              </div>
      </div></a>

      <a href="{% static 'documents\FORMS\HR\interview score sheet form s132.pdf' %}">
      <div
      class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
    >
              <div class="group relative">
                <button type="button" style="width:18rem; height:6rem">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3"> Interview Scoresheet Form (S132)</span></button>
              </div>
      </div></a>
    
      <a href="{% static  'documents\FORMS\HR\INTERVIEW SHORTLIST FORM.pdf' %}">
    <div
      class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
    >
              <div class="group relative">
                <button type="button" style="width:18rem; height:6rem">
                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                  <span class="ml-3"> Interview Shortlist Form</span></button>
              </div>
      </div>
    </a>
    <a href="{% static 'documents\FORMS\HR\management leave form s49b.pdf' %}">
      <div
        class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
      >
                <div class="group relative">
                  <button type="button" style="width:18rem; height:6rem">
                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                    <span class="ml-3">Management Leave Form (S49B)</span></button>
                </div>
        </div></a>
  
        <a href="{% static 'documents\FORMS\HR\medical exam S.5.pdf' %}">
        <div
        class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
      >
                <div class="group relative">
                  <button type="button" style="width:18rem; height:6rem">
                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                    <span class="ml-3">Medical Exam (S5)</span></button>
                </div>
        </div></a>
      
        <a href="{% static  'documents\FORMS\HR\NEXT OF KIN FORM.pdf' %}">
      <div
        class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
      >
                <div class="group relative">
                  <button type="button" style="width:18rem; height:6rem">
                    <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                    <span class="ml-3">Next of Kin Form</span></button>
                </div>
        </div>
      </a>
      <a href="{% static 'documents\FORMS\HR\nyaradzo form.pdf' %}">
        <div
          class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
        >
                  <div class="group relative">
                    <button type="button" style="width:18rem; height:6rem">
                      <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                      <span class="ml-3"> Nyaradzo Form</span></button>
                  </div>
          </div></a>
    
          <a href="{% static 'documents\FORMS\HR\optical lens Form S.67.pdf' %}">
          <div
          class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
        >
                  <div class="group relative">
                    <button type="button" style="width:18rem; height:6rem">
                      <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                      <span class="ml-3">Optical Lens Form (S67)</span></button>
                  </div>
          </div></a>
        
          <a href="{% static  'documents\FORMS\HR\worker of month FORM WR 1.pdf' %}">
        <div
          class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
        >
                  <div class="group relative">
                    <button type="button" style="width:18rem; height:6rem">
                      <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                      <span class="ml-3"> Worker of the month form WR1</span></button>
                  </div>
          </div>
        </a>
        <a href="{% static 'documents\FORMS\HR\vehicle job card S74.pdf' %}">
          <div
            class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
          >
                    <div class="group relative">
                      <button type="button" style="width:18rem; height:6rem">
                        <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                        <span class="ml-3">Vehicle Job Card (S74)</span></button>
                    </div>
            </div></a>
      
            <a href="{% static '#' %}">
            <div
            class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
          >
                    <div class="group relative">
                      <button type="button" style="width:18rem; height:6rem">
                        <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                        <span class="ml-3"> Pension Form 1</span></button>
                    </div>
            </div></a>
          
            <a href="{% static  'documents\FORMS\HR\pensionLife certficate Form.pdf' %}">
          <div
            class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
          >
                    <div class="group relative">
                      <button type="button" style="width:18rem; height:6rem">
                        <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                        <span class="ml-3"> Pension Life Certificate</span></button>
                    </div>
            </div>
          </a>
          <a  href="{% static 'documents\FORMS\HR\PRIVATE MILEAGE form  S69.pdf' %}">
            <div
              class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
            >
                      <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                          <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                          <span class="ml-3">Private Mileage (S69)</span></button>
                      </div>
              </div></a>
        
              <a href="{% static 'documents\FORMS\HR\staff requisition MP1.pdf' %}">
              <div
              class="bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
            >
                      <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                          <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                          <span class="ml-3"> Staff Requisition MP1</span></button>
                      </div>
              </div></a>
            
              <a href="{% static  'documents\FORMS\HR\TRAINING EVALUATION FORM ER.pdf' %}">
            <div
              class="bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
            >
                      <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                          <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                          <span class="ml-3"> Training Evaluation Form ER</span></button>
                      </div>
              </div>
            </a>
            <a href="{% static 'documents\FORMS\HR\transfer S.17.pdf' %}"> 
              <div
                class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
              >
                        <div class="group relative">
                          <button type="button" style="width:18rem; height:6rem">
                            <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                            <span class="ml-3">Transfer Form (S17)</span></button>
                        </div>
                </div></a>
          
              
              
              

            </div>
            
      <div style="display: flex;justify-content: start;" class="mt-6">
      <a href="javascript:history.back()">
          <button style="width: 6rem;height: 3rem;background-color: #020617;margin-right: 20px"
              class=" w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded-xl flex items-center">
              <span class="pr-1 font-bold flex-1 text-blue-50">Back</span>
    
          </span></button> </a>
    </div>
        
{%endblock %}