{% extends 'admin_layout.html' %}
{%load static%}

{%block content%}

<div class="grid grid-cols-3 gap-3">

    <a href="{% static 'documents\FORMS\Fw-_RISK_MANAGEMENT_FORMS\Engineering Report.pdf' %}">
        <div
          class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
        >
                  <div class="group relative">
                    <button type="button" style="width:18rem; height:6rem">
                      <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                      <span class="ml-3"> ENGINEERING REPORT</span></button>
                  </div>
          </div></a>

          <a href="{% static 'documents\FORMS\Fw-_RISK_MANAGEMENT_FORMS\Preliminary Accident Report Form.pdf' %}">
            <div
              class=" bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
            >
                      <div class="group relative">
                        <button type="button" style="width:18rem; height:6rem">
                          <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                          <span class="ml-3">Preliminary Accident Report Form </span></button>
                      </div>
              </div></a>
              <a href="{% static 'documents\FORMS\Fw-_RISK_MANAGEMENT_FORMS\Public liability claim form.pdf' %}">
                <div
                  class=" bg-green-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                >
                          <div class="group relative">
                            <button type="button" style="width:18rem; height:6rem">
                              <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                              <span class="ml-3">Public Liability Claim Form</span></button>
                          </div>
                  </div></a>
                  <a href="{% static 'documents\FORMS\Fw-_RISK_MANAGEMENT_FORMS\ATTACHMENT 1 RISK REGISTER TEMPLATE FORM RM01.pdf' %}">
                    <div
                      class=" bg-gulf-blue-300 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                    >
                              <div class="group relative">
                                <button type="button" style="width:18rem; height:6rem">
                                  <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                  <span class="ml-3">RISK REGISTER TEMPLATE FORM RM01</span></button>
                              </div>
                      </div></a>
                      <a href="{% static 'documents\FORMS\Fw-_RISK_MANAGEMENT_FORMS\ZESA  ASSETS ALL RISKS CLAIM FORM.pdf' %}">
                        <div
                          class=" bg-citron-200 shadow shadow-nepal-300 text-gray-700 rounded p-2 m-px text-center text-xl font-bold"
                        >
                                  <div class="group relative">
                                    <button type="button" style="width:18rem; height:6rem">
                                      <i class="fa-regular fa-file-pdf fa-2xl text-left" style="color: #e11432;"></i>
                                      <span class="ml-3">ZESA  ASSETS ALL RISKS CLAIM FORM</span></button>
                                  </div>
                          </div></a>
                      
  
   </div>
   
<div style="display: flex; justify-content: center">
  <a href="javascript:history.back()">
    <button
      style="
        width: 6rem;
        height: 3rem;
        background-color: #020617;
        margin-right: 20px;
        border-radius: 1.5rem;
      "
      class="w-28 bg-blue-800 hover:bg-blue-900 outline-none focus:outline-none border px-3 py-1 rounded flex items-center"
    >
      <span class="pr-1 font-semibold flex-1 text-blue-50">Back</span>
    </button>
  </a>
</div>
        
{%endblock %}